@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF</title>
    <style>
        .pdf-viewer {
            margin:auto;
        }
    </style>
</head>
<body>
    <object classid="clsid:CA8A9780-280D-11CF-A24D-444553540000" width="600" height="600" border="1" class="pdf-viewer">
        <!--IE-->
        <param name="_Version" value="65539">
        <param name="_ExtentX" value="20108">
        <param name="_ExtentY" value="10866">
        <param name="_StockProps" value="0">
        <param name="SRC" value="@Url.Action("PDFX", "PurchaseOrder")">
        <!--FF-->
        <embed type="application/pdf" src="@Url.Action("PDFX", "PurchaseOrder")" width="600" height="600" border="1"  href="@Url.Action("PDFX", "PurchaseOrder")" />
    </object>
    <embed type="application/pdf" src="@Url.Action("PDFX", "PurchaseOrder")" width="600" height="600" border="1" href="@Url.Action("PDFX", "PurchaseOrder")" />
    @*<object classid="clsid:CA8A9780-280D-11CF-A24D-444553540000" width="600" height="800" border="0" id="Object1" name="pdf" viewastext>
        <param name="toolbar" value="false">
        <param name="_Version" value="65539">
        <param name="_ExtentX" value="20108">
        <param name="_ExtentY" value="10866">
        <param name="_StockProps" value="0">
        <param name="SRC" value="~/Temp/PO/Sonluk_PO.pdf">
    </object>
    <div style="width:22cm;height: 30cm;">
        <embed style="width:100%;height:100%;" src="~/Temp/PO/Sonluk_PO.pdf"> </embed>
    </div>*@
</body>
</html>
