@{
    ViewBag.Title = "关于";
}
@Styles.Render("~/Content/sonluk-ui/panel-flow")
<div class="content-header">
    <div class="content-header-nav">
        <a href="#">设置</a>
        >
        <a href="#">关于</a>
    </div>
</div>
<div class="panel-flow">
    <input type="hidden" id="report-config-page-size" value="@Url.Action("PageSize", "Report", new { area = "MM" })">
    <table class="panel-flow-table">
        <tr>
            <td class="panel-flow-table-title">版本</td>
            <td class="panel-flow-table-content">@ViewBag.UserVersion </td>
        </tr>
        <tr>
            <td class="panel-flow-table-title">发布</td>
            <td class="panel-flow-table-content">@ViewBag.ReleaseDate</td>
        </tr>
        <tr>
            <td class="panel-flow-table-title">System</td>
            <td class="panel-flow-table-content">@ViewBag.Version</td>
        </tr>
        <tr>
            <td class="panel-flow-table-title">UI</td>
            <td class="panel-flow-table-content">@ViewBag.UI</td>
        </tr>
        <tr>
            <td class="panel-flow-table-title">Service</td>
            <td class="panel-flow-table-content">@ViewBag.Server</td>
        </tr>
    </table>
</div>