@using Sonluk.UI.Model.LE.TRA.ReceiverService
@model IEnumerable<CompanyInfo>
<div class="panel-pop-up-header">收货单位</div>
<div class="panel-pop-up-body">
    <div class="panel-pop-up-content" id="receiver-list">
        @foreach (CompanyInfo shipToParty in Model)
        {
            <div class="panel-pop-up-node panel-pop-up-children-trigger-receiver">
                <div class="panel-pop-up-node-serial-number">@shipToParty.SerialNumber</div>
                <div class="panel-pop-up-node-name">@shipToParty.Name</div>
                <input type="hidden" value="@shipToParty.ID" />
                <input type="hidden" value="@shipToParty.SerialNumber" />
                <input type="hidden" value="@shipToParty.ShortName" />
                <input type="hidden" value="@shipToParty.Name" />
                <input type="hidden" value="@shipToParty.Default.ToString()" />
            </div>
            <div class="panel-pop-up-children">
                @foreach (CompanyInfo destination in shipToParty.Children)
                {
                    <div class="panel-pop-up-child">
                        <div class="panel-pop-up-child-content receiver-selected">@destination.Address</div>
                        <input type="hidden" value="@destination.ID" />
                        <input type="hidden" value="@destination.Contact" />
                        <input type="hidden" value="@destination.Cellphone" />
                        <input type="hidden" value="@destination.Address" />
                        <input type="hidden" value="@destination.Telephone" />
                        <input type="hidden" value="@destination.City" />
                        <input type="hidden" value="@destination.CityID" />
                        <input type="hidden" value="@destination.Default.ToString()" />
                    </div>
                }
            </div>
        }
    </div>
    <div class="panel-pop-up-edit">
        <div class="panel-pop-up-edit-receiver">
            <input type="hidden" id="edit-receiver-ID" value="" />
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">送达方</div>
                <input type="text" class="panel-pop-up-edit-item-input" id="edit-receiver-serial-number" value="" readonly="readonly" />
            </div>
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">简称</div>
                <input type="text" class="panel-pop-up-edit-item-input" id="edit-receiver-short-name" value="" />
            </div>
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">全称</div>
                <input type="text" class="panel-pop-up-edit-item-input" id="edit-receiver-name" value=""/>
            </div>
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">默认</div>
                <input type="checkbox" id="edit-receiver-default" value="true">
            </div>
            <div class="panel-pop-up-edit-control">
                <div class="sonluk-button edit-receiver-modify-trigger">保存</div>
                <input type="hidden" value="@Url.Action("_Update", "Receiver")" />
            </div>
        </div>
        <div class="panel-pop-up-edit-destination">
            <input type="hidden" id="edit-destination-ID" value="" />
            <input type="hidden" id="edit-destination-receiver-ID" value="" />
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">联系人</div>
                <input type="text" class="panel-pop-up-edit-item-input" id="edit-destination-contact" value="" />
            </div>
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">站点</div>
                <input type="text" class="panel-pop-up-edit-item-input pop-up-target-receiver-city" id="edit-destination-city" value="" readonly="readonly" />
                <input type="hidden" id="edit-destination-city-ID" value="" />
                <input type="hidden" value="@Url.Action("_List", "City")" />
            </div>
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">手机</div>
                <input type="text" class="panel-pop-up-edit-item-input" id="edit-destination-cellphone" value="" />
            </div>
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">电话</div>
                <input type="text" class="panel-pop-up-edit-item-input" id="edit-destination-telephone" value="" />
            </div>
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">地址</div>
                <input type="text" class="panel-pop-up-edit-item-input" id="edit-destination-address" value="" />
            </div>
            <div class="panel-pop-up-edit-item">
                <div class="panel-pop-up-edit-item-title">默认</div>
                <input type="checkbox" id="edit-destination-default" value="true">
            </div>
            <div class="panel-pop-up-edit-control">
                <div class="sonluk-button edit-destination-modify-trigger">保存</div>
                <input type="hidden" value="@Url.Action("_Modify", "Destination")" />
                <div class="sonluk-button edit-destination-create-trigger">新增</div>
            </div>
        </div>



        @*<div class="panel-pop-up-edit-destination">
                <div class="panel-pop-up-edit-control">
                    <div class="sonluk-button">确定</div>
                    <input type="hidden" value="@Url.Action("_Modify", "Destination")" />
                </div>
            </div>*@
    </div>

</div>
<div class="panel-pop-up-search">
    <div class="panel-pop-up-search-keyword">
        <input type="text" id="receiver-search-keyword">
    </div>
    <div class="panel-pop-up-search-submit">
        <img class="glyph" src="@Url.Content("~/Content/sonluk-ui/images/icon_search_h24.png")" alt="搜索" />
    </div>
    <input type="hidden" value="@Url.Action("_Search", "Receiver")" id="receiver-search-uri" />
</div>
<div class="panel-pop-up-footer">
</div>




