@using Sonluk.UI.Model.CRM.HG_DICTService;
@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "订单明细查询";

    //CRM_HG_DICT[] DDLY = ViewBag.DDLY;
}

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/javascript" src="~/Scripts/layui2.2.5/extend/formSelects-v4.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/layui2.2.5/css/formSelects-v4.css">
<input id="Select_DDLY" value="@Url.Action("Select_DDLY", "KAOrder")" ty type="hidden">
<input id="EXPORT_KAORDER_SELECT" value="@Url.Action("EXPORT_KAORDER_SELECT", "KAOrder")" type="hidden">
<input id="EXPORT_KAORDER" value="@Url.Action("EXPORT_KAORDER", "KAOrder")" type="hidden">


<script type="text/html" id="tpl_pmgg">
    {{# if(d.ProdSpec == ""){ }}
    {{ d.ProdName }}
    {{# }else { }}
    {{ d.ProdName + " / " + d.ProdSpec }}
    {{# } }}
</script>

<script type="text/html" id="official">
    {{# if(d.IsOfficial == 10){ }}
    潜在客户
    {{# }else if(d.IsOfficial == 20){ }}
    签约客户
    {{# }else if(d.IsOfficial == 30){ }}
    非签约客户
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="havepower">
    {{# if(d.GIDSTATUS == 1){ }}
    是
    {{# }else if(d.GIDSTATUS == 0){ }}
    否
    {{# }else { }}

    {{# } }}
</script>


<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>KA订单管理</a>
    <a><cite>订单明细查询</cite></a>
</span>
<div id="from1">
    <div id="div1" class="layui-form">

        <div class="layui-form-item">
            <button id="btn_back" class="layui-btn">返回</button>
            <button id="btn_daochu" class="layui-btn">导出</button>
            <button id="btn_cx" class="layui-btn" lay-submit lay-filter="formDemo">查询</button>

            @*<button id="btn_submit" class="layui-btn">提交</button>*@

        </div>




        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:130px;text-align:right;">订单来源：</label>
                <div class="layui-input-inline" style="width:250px">
                    <select id="in_ddly" lay-filter="in_ddly" xm-select="in_ddly" xm-select-height="36px"></select>
                </div>
            </div>

            <div class="layui-inline">

                <label class="layui-form-label" style="width:130px;text-align:right;">门店信息：</label>
                <div class="layui-input-inline">
                    <input id="MDXX" type="text" placeholder="（门店编号/门店名称）" class="layui-input" onkeypress="if(window.event.keyCode==13) this.blur()">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:130px;text-align:right;">订单号码：</label>
                <div class="layui-input-inline">
                    <input id="KHPO" type="text" placeholder="" class="layui-input" onkeypress="if(window.event.keyCode==13) this.blur()">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:130px;text-align:right;">货号：</label>
                <div class="layui-input-inline">
                    <input id="ProdNum" type="text" placeholder="" class="layui-input" onkeypress="if(window.event.keyCode==13) this.blur()">
                </div>
            </div>
        </div>




        <div class="layui-form-item">


            <div class="layui-inline">
                <label class="layui-form-label" style="width:130px;text-align:right;">订单类别：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <select xm-select="in_ddlb" id="in_ddlb" xm-select-height="36px"></select>

                </div>

            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:130px;text-align:right;">订货日期：</label>
                <div class="layui-input-inline">
                    <input id="OrderDate_BEGIN" type="text" placeholder="" class="layui-input" readonly value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:130px;text-align:right;">至：</label>
                <div class="layui-input-inline">
                    <input id="OrderDate_end" type="text" placeholder="" class="layui-input" readonly value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")">
                </div>
            </div>

            <div class="layui-inline" style="margin-left:60px">
                <input type="checkbox" id="in_notqr" lay-filter="in_notqr" name="" title="未确认" lay-skin="primary" checked>
            </div>
        </div>




        <table id="result" lay-filter="result"></table>

    </div>






</div>

<div id="div_confirm" class="layui-form" hidden>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="text-align:right;">售达方：</label>
            <div class="layui-input-inline" style="width:220px;">
                <label class="layui-form-label" style="text-align:left;">XXXXX</label>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="text-align:right;">送达方：</label>
            <div class="layui-input-inline" style="width:220px;">
                <label class="layui-form-label" style="text-align:left;">XXXXX</label>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="text-align:right;">收货地址：</label>
            <div class="layui-input-inline" style="width:220px;">
                <label class="layui-form-label" style="text-align:left;">XXXXXXXXXX</label>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="text-align:right;">付款时间：</label>
            <div class="layui-input-inline" style="width:220px;">
                <label class="layui-form-label" style="text-align:left;">2019-01-01</label>
            </div>
        </div>
    </div>

    <table id="table_confirm" lay-filter="table_confirm"></table>

    <div id="div_hj">

    </div>
</div>






@section scripts {
    @Scripts.Render("~/bundles/CRM/KAOrder/SelectOrderMX")
}