@{
    ViewBag.Title = "指派工单";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
@using Sonluk.PC.Areas.MES.Models;
@model Sonluk.PC.Areas.MES.Models.MODEL_Assign_WorkOrder

<script type="text/html" id="PDSL_Tpl">
    {{# if(d.SL<d.GDPDSL){ }}
    <span style="color: #FF0000;">{{ d.GDPDSL }}</span>
    {{# }else { }}
    <span style="color: #000000;">{{ d.GDPDSL }}</span>
    {{# } }}
</script>
<script type="text/html" id="tb_PDRW_SHOW_SL_Tpl">
    {{# if(d.SL==0){ }}
    {{# }else { }}
    {{ d.SL }}
    {{# } }}
</script>

<span class="layui-breadcrumb" lay-separator=">">
    <a lid="vi_mesproduct">MES生产管理</a>
    <a><cite lid="vi_zpgd">指派工单</cite></a>
</span>
<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_find" lid="vi_select">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_gc">工厂：</label>
            <div class="layui-input-inline">
                <select id="in_pd_gc" lay-filter="in_pd_gc">
                    @if (Model.MES_SY_GC.Length == 1)
                    {
                    <option value="" lid="vi_option">请选择</option>
                        <option value="@Model.MES_SY_GC[0].GC" selected="selected">@Model.MES_SY_GC[0].GC-@Model.MES_SY_GC[0].GCMS</option>
                    }
                    else
                    {
                    <option value="" selected="selected" lid="vi_option">请选择</option>
                        for (int i = 0; i < Model.MES_SY_GC.Length; i++)
                        {
                            <option value="@Model.MES_SY_GC[i].GC">@Model.MES_SY_GC[i].GC-@Model.MES_SY_GC[i].GCMS</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_gzzx">工作中心：</label>
            <div class="layui-input-inline">
                <select id="in_gzzx" lay-filter="in_gzzx">
                    @if (Model.MES_SY_GC.Length == 1)
                    {
                        if (Model.GZXX.Length == 1)
                        {
                    <option value="" lid="vi_option">请选择</option>
                            <option value="@Model.GZXX[0].GZZXBH" selected="selected">@Model.GZXX[0].GZZXBH-@Model.GZXX[0].GZZXMS</option>
                        }
                        else
                        {
                    <option value="" selected="selected" lid="vi_option">请选择</option>
                            for (int i = 0; i < Model.GZXX.Length; i++)
                            {
                                <option value="@Model.GZXX[i].GZZXBH">@Model.GZXX[i].GZZXBH-@Model.GZXX[i].GZZXMS</option>
                            }
                        }
                    }
                    else
                    {
                    <option value="" selected="selected" lid="vi_option">请选择</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_wllb">物料类别：</label>
            <div class="layui-input-inline">
                <select id="in_wllb" lay-filter="in_wllb">
                    @if (Model.MES_SY_GC.Length == 1)
                    {
                        if (Model.WLLB.Length == 1)
                        {
                    <option value="0" lid="vi_option">请选择</option>
                            <option value="@Model.WLLB[0].WLLBID" selected="selected">@Model.WLLB[0].WLLBNAME</option>
                        }
                        else
                        {
                    <option value="0" selected="selected" lid="vi_option">请选择</option>
                            for (int i = 0; i < Model.WLLB.Length; i++)
                            {
                                <option value="@Model.WLLB[i].WLLBID">@Model.WLLB[i].WLLBNAME</option>
                            }
                        }
                    }
                    else
                    {
                    <option value="0" selected="selected" lid="vi_option">请选择</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_mesgd">MES工单：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_gddh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_wlbm">物料编码：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_wlbm" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_erpgd">ERP工单：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_erpno" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_gdrq">工单日期：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="in_PDRQ_S" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="in_PDRQ_E" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_PDRW" lay-filter="tb_PDRW" height="400"></table>
    <script type="text/html" id="barkh">
        <a class="layui-btn layui-btn-xs" lay-event="modify" >{{scom.c_PAIDAN}}</a>
        @*<a class="layui-btn layui-btn-xs" lay-event="XG">修改</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>*@
    </script>
</div>
<div id="div1_modify" class="layui-form" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_mesgd">MES工单：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_gddh_div" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_pdrq">派单日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="in_pdrq" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" lid="vi_wlxx">物料信息：</label>
        <div class="layui-input-block" style="width: 515px;">
            <input type="text" id="in_wlinfo" autocomplete="off" class="layui-input" readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_wpsl">未派数量：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_gdwpdsl" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_dw">单位：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_dw" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_sbfl">设备分类：</label>
            <div class="layui-input-inline">
                <select id="in_sbfl" lay-filter="in_sbfl">
                    <option value="0" selected="selected" lid="vi_option">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_bc">班次：</label>
            <div class="layui-input-inline">
                <select id="in_bc" lay-filter="in_bc">
                    <option value="0" selected="selected" lid="vi_option">请选择</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="vi_mrsl">默认数量：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_pd_mrsl" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <form id="from1" class="layui-form layui-form-pane">
        <table class="layui-hide" id="tb_PDRW_SHOW" lay-filter="tb_PDRW_SHOW"></table>
    </form>
</div>

<div id="div1_XG" class="layui-form" hidden>
    <form id="from1" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_mesgd">MES工单：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_mesgd" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_rwbh">任务编号：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_rwbh" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_gc">工厂：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_gc" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_erpgd">ERP工单：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_erpgd" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_wlh">物料号：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_wlh" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_wlms">物料描述：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_wlms" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_zprq">指派日期：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_zprq" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_gzzx">工作中心：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_gzzxbh" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_sl">数量：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_sl" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_dw">单位：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_dw" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" lid="vi_bc">班次：</label>
                <div class="layui-input-inline">
                    <input type="text" id="xg_bc" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    @Scripts.Render("~/bundles/MES/PD/Assign_WorkOrder")
}
