@*xur多语言化*@
@{
    ViewBag.Title = "任务查询";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
@using Sonluk.PC.Areas.MES.Models;
@model Sonluk.PC.Areas.MES.Models.MODEL_Assign_WorkOrder


<span class="layui-breadcrumb" lay-separator=">">
    <a lid="messcgl">MES生产管理</a>
    <a><cite lid="rwdcxdy">任务单查询打印</cite></a>
</span>
<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_find" lid="c_search">查询</button>
        <button class="layui-btn" id="btn_DC" lid="sjdc">数据导出</button>
        <button class="layui-btn" id="btn_DC_all" lid="qbsjdc">全部数据导出</button>
        <button class="layui-btn" id="btn_pring_pl" lid="pldy">批量打印</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="c_formGC">工厂：</label>
            <div class="layui-input-inline">
                <select id="in_pd_gc" lay-filter="in_pd_gc">
                    <option value="" selected="selected" lid="c_selectplz">请选择</option>
                    @for (int i = 0; i < Model.MES_SY_GC.Length; i++)
                    {
                        <option value="@Model.MES_SY_GC[i].GC">@Model.MES_SY_GC[i].GC-@Model.MES_SY_GC[i].GCMS</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="c_formGZZX">工作中心：</label>
            <div class="layui-input-inline">
                <select id="in_gzzx" lay-filter="in_gzzx" lay-search="">
                    <option value="" selected="selected" lid="c_selectplz">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="c_formSBBH">设备号：</label>
            <div class="layui-input-inline">
                <select id="in_sbbh" lay-filter="in_sbbh">
                    <option value="" selected="selected" lid="c_selectplz">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="WLLBc">物料类别：</label>
            <div class="layui-input-inline">
                <select id="in_wllb" lay-filter="in_wllb">
                    <option value="0" selected="selected" lid="c_selectplz">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="GDDHc">MES工单：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_gddh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="RWBHc">任务单号：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_rwbh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="WLHc">物料编码：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_wlh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="PFDHc">配方单号：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_pfdh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="PLDHc">配料单号：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_pldh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="THc">桶号：</label>
            <div class="layui-input-inline">
                <input type="text" id="in_th" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="PDRQc">派单日期：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="in_pdrq_S" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="in_pdrq_E" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_PDRW" lay-filter="tb_PDRW"></table>
    <script type="text/html" id="barkh">
        <a class="layui-btn layui-btn-xs" lay-event="print">{{scom.c_print}}</a>
    </script>
</div>

<div id="div_add_tl" class="layui-form" hidden>
    <div class="layui-form-item">
        <label class="layui-form-label" lid="RWBHc">任务单：</label>
        <div class="layui-input-block">
            <input type="text" id="add_rwdh" autocomplete="off" class="layui-input" readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" lid="WLHc">物料号：</label>
        <div class="layui-input-block">
            <input type="text" id="add_wlh" autocomplete="off" class="layui-input" readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" lid="WLMSc">物料描述：</label>
        <div class="layui-input-block">
            <input type="text" id="add_wlms" autocomplete="off" class="layui-input" readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" lid="TMc">条码：</label>
        <div class="layui-input-block">
            <input type="text" id="add_tm" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" lid="TLSJc">投料时间：</label>
        <div class="layui-input-block">
            <input type="text" id="add_tlsj" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>

<div id="div_add_zfsd" class="layui-form" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="SCXc">生产线：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_scx" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="DCXXc">电池信息：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_dcxx" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="ZFLBc">暂放类别：</label>
            <div class="layui-input-inline">
                <select id="add_zfsd_zflb" lay-filter="add_zfsd_zflb">
                    <option value="0" selected="selected" lid="c_selectplz">请选择</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="SDZSc">素电总数：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_sdzh" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="ZHc">幢号：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_zh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="CFTSc">存放天数：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_cfts" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="SCRQc">生产日期：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_scrq" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" lid="SCQJc">生产区间：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="add_zfsd_scqjs" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="add_zfsd_scqje" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" lid="BZc">备注：</label>
        <div class="layui-input-inline" style="width: 840px;">
            <input type="text" id="add_zfsd_remark" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn layui-btn-xs" id="btn_add_zfsd_xz" lid="c_add">新增</button>
        <button class="layui-btn layui-btn-xs" id="btn_add_zfsd_print" lid="c_print">打印</button>
    </div>
    <table class="layui-hide" id="tb_zfsd" lay-filter="tb_zfsd"></table>
    <script type="text/html" id="barkh_zfsd">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete_zfsd">{{scom.c_delete}}</a>
    </script>
</div>

<div id="div_add_zfsd_mx" class="layui-form" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="KSRQc">开始日期：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_mx_ksrq" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="JSRQc">结束日期：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_mx_jsrq" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" lid="SLc">数量：</label>
            <div class="layui-input-inline">
                <input type="text" id="add_zfsd_mx_sl" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/MES/PD/RW_SELECT_ALL")
}
