@using Sonluk.UI.Model.CRM.CRM_LoginService;
@{
    CRM_JURISDICTION_GROUP[] MenuInfo = null;
    if (Session["MENUINFO"] != null)
    {
        MenuInfo = (CRM_JURISDICTION_GROUP[])Session["MENUINFO"];
    }

    int loca = 0;
    if (Session["location"] != null)
    {
        loca = Convert.ToInt32(Session["location"]);
    }

    string name = "";
    if (Session["NAME"] != null)
    {
        name = Session["NAME"].ToString();
    }
    Session.Timeout = 1440;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/MES/PRINT/print")

    <style media=print type="text/css">
        .noprint {
            visibility: hidden;
        }

        .PageNext {
            page-break-after: always;
        }

        .print-header {
            display: none;
        }

        .print-page {
            background-color: #fff;
        }
    </style>
    <style type="text/css">
        .print-header {
            width: 100%;
            height: 50px;
        }



        .print-header-fixed {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: 50px;
            background-color: #060d08;
            z-index: 20000;
        }

        .print-header-control {
            width: 20.204cm;
            height: 100%;
            margin: auto;
            color: #fff;
        }

        .print-header-button {
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 50px;
            font-family: SimHei;
            font-size: 28px;
            cursor: pointer;
            float: left;
        }

        .print-page {
            page-break-after: always;
            margin: auto;
            background-color: #f1f1f1;
            overflow: hidden;
        }

        div, body {
            border: 0;
            margin: 0;
            padding: 0;
            outline: 0;
            height: 100%;
            text-align: center;
            font-family: SimSun;
        }
    </style>
</head>


<body>
    <div class="print-header noprint">
        <div class="print-header-fixed noprint">
            <div class="print-header-control noprint">
                <div class="print-header-button noprint" onclick="window.print()">打印</div>
                <div id="BCQDimg" class="print-header-button noprint" onclick="BCTP()" hidden>下载图片</div>
            </div>
        </div>
    </div>
    <input type="hidden" id="page-size" value="A4">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
