@{
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UpdateIndex";
    Session["TITLENAME"] = "编辑客户";

}

<h2 id="h1" style="margin:0 10px"></h2>
<h2 id="h2" style="margin:0 10px"></h2>


<hr class="layui-bg-black" />

<div id="div_basic" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("Update", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">基本信息</label>
    </div>
</div>

<div id="div_qudao" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("Qudao_Select", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">渠道</label>
    </div>
</div>

<div id="div_pinzhong" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("Pinzhong_Select", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">销售品种</label>
    </div>
</div>

<div id="div_area" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("Area_Select", "KeHu", new RouteValueDictionary { {"KHID",@ViewBag.KHID}})">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">管辖区域</label>
    </div>
</div>

<div id="div_jingpin" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("Jingpin_Select", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">竞品</label>
    </div>
</div>

<div id="div_mentou" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("KeHuIndex", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">门头照片</label>
    </div>
</div>

<div id="div_partner" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("KeHuIndex", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">合作伙伴</label>
    </div>
</div>

<div id="div_contact" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("KeHuIndex", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">联系人</label>
    </div>
</div>

<div id="div_post" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("KeHuIndex", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">邮寄地址</label>
    </div>
</div>

<div id="div_display" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("KeHuIndex", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">陈列</label>
    </div>
</div>

<div id="div_group" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("KeHuIndex", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">分配到组</label>
    </div>
</div>

<div id="div_fujian" class="layui-col-xs4 layui-col-sm2 layui-col-md1" hidden>
    <div class="grid-demo grid-demo-bg1" align="center">
        <a href="@Url.Action("KeHuIndex", "KeHu")">
            <img class="layui-nav-img" src="~/Image/home.png" />
        </a>
        <br />
        <label class="layui-form-label-img">附件</label>
    </div>
</div>
<div class="layui-tab" hidden>
    <ul class="layui-tab-title">
        <li class="layui-this">拜访计划</li>
        <li>最近拜访记录</li>
    </ul>

</div>

<script>
    $(document).ready(function () {

        $("#h1").text("@ViewBag.MC");
        $("#h2").text("客户编号：@ViewBag.CRMID");
        

        if(@ViewBag.KHLX == 1 || @ViewBag.KHLX == 2 || @ViewBag.KHLX ==4)
        {
            $("#div_basic").show();
            $("#div_qudao").show();
            $("#div_pinzhong").hide();
            $("#div_area").show();
            $("#div_jingpin").hide();
            $("#div_mentou").hide();
            $("#div_partner").show();
            $("#div_contact").show();
            $("#div_post").show();
            $("#div_display").show();
            $("#div_group").show();
            $("#div_fujian").show();
        }
        else if(@ViewBag.KHLX == 3)
        {
            $("#div_basic").show();
            $("#div_qudao").hide();
            $("#div_pinzhong").hide();
            $("#div_area").show();
            $("#div_jingpin").hide();
            $("#div_mentou").hide();
            $("#div_partner").show();
            $("#div_contact").show();
            $("#div_post").show();
            $("#div_display").show();
            $("#div_group").show();
            $("#div_fujian").show();
        }
        else if(@ViewBag.KHLX == 5 || @ViewBag.KHLX == 6)
        {
            $("#div_basic").show();
            $("#div_qudao").hide();
            $("#div_pinzhong").show();
            $("#div_area").hide();
            $("#div_jingpin").show();
            $("#div_mentou").show();
            $("#div_partner").hide();
            $("#div_contact").hide();
            $("#div_post").hide();
            $("#div_display").show();
            $("#div_group").show();
            $("#div_fujian").show();
        }
        else if(@ViewBag.KHLX == 7)
        {
            $("#div_basic").show();
            $("#div_qudao").hide();
            $("#div_pinzhong").show();
            $("#div_area").hide();
            $("#div_jingpin").show();
            $("#div_mentou").hide();
            $("#div_partner").hide();
            $("#div_contact").hide();
            $("#div_post").hide();
            $("#div_display").show();
            $("#div_group").show();
            $("#div_fujian").show();
        }
        else{
            $("#div_basic").hide();
            $("#div_qudao").hide();
            $("#div_pinzhong").hide();
            $("#div_area").hide();
            $("#div_jingpin").hide();
            $("#div_mentou").hide();
            $("#div_partner").hide();
            $("#div_contact").hide();
            $("#div_post").hide();
            $("#div_display").hide();
            $("#div_group").hide();
            $("#div_fujian").hide();
        }


    });
</script>