@{
    Layout = "~/Areas/CRM/Views/Shared/_Layout_PDA.cshtml";
    ViewBag.Title = "扫码出货";
    Session["TITLENAME"] = "扫码出货";

    string Staffid = "";
    if (Session["STAFFID"] != null)
    {
        Staffid = Session["STAFFID"].ToString();
    }

    string state = "";
    string appid = "";
    if (Session["state"] != null)
    {
        state = Session["state"].ToString();
        if (Session["state"] == "WX")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["AppID"];
        }
        else if (Session["state"] == "QY")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["CorpID"];
        }

    }

    string DXM_url = System.Configuration.ConfigurationManager.AppSettings["DXM_url"];

}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<div>
    <br />
    <div id="div_fxs" class="layui-form-item">
        <div id="div_scan_vbeln" class="layui-input-block" style="margin-left: 10px;">
            <input id="VBELN" type="text" placeholder="扫描交货单、物流码" autocomplete="off" class="layui-input">
        </div>
        <div id="div_scan_wlm" class="layui-input-block" style="margin-left: 10px;display:none;">
            <input id="WLM" type="text" placeholder="扫描物流码" autocomplete="off" class="layui-input">
        </div>

    </div>
    



    @*<hr class="layui-bg-black" />
    <div id="div_dxm" class="layui-form-item" style="display:none;">
        <label class="layui-form-label" style="width:90px;text-align:right;">箱码：</label>
        <div class="layui-input-block" style="margin-left: 100px;">
            <input id="DXM" type="text" placeholder="请输入大箱码" autocomplete="off" class="layui-input">

            <label id="lb_tip" class="layui-form-label" style="width:auto;">已扫0箱</label>
        </div>

    </div>*@
    <div id="div_table">
        @*<table id="tb_dxm" lay-filter="tb_dxm"></table>*@
    </div>

    <div id="div_tableMX">
        
    </div>


    <a id="maodian"></a>
    <br /><br /><br /><br />
    <div class="layui-footer" style="left:0;background: #009688;padding: 0;">
        <div id="div_btn_confirm" class="layui-input-inline" style="width:100%;margin:0">
            <button id="btn_confirm" class="layui-btn" style="width:100%">确定</button>
        </div>
        <div id="div_btn_back" class="layui-input-inline" style="width:100%;margin:0" hidden>
            <button id="btn_back" class="layui-btn" style="width:100%">返回交货单主界面</button>
        </div>
    </div>



</div>
<div class="bottom"></div>


<input id="dxm_url" hidden />
<script>
    $(document).ready(function () {
        $("#staffid").val("@Staffid");
        $("#state").val("@state");
        $("#appid").val("@appid");
        $("#dxm_url").val("@DXM_url");
    });
</script>
@section scripts {
    @Scripts.Render("~/bundles/CRM/FCH/ScanFAHUO")
}