@using Sonluk.UI.Model.MM.PurchaseOrderService
@model IEnumerable<ZSL_BCS104>
<input type="hidden" value="@Model.Count()" id="node-count">
<table class="data-table">
    <tr>
        <td class="data-table-header">托盘码</td>
        <td class="data-table-header">总数量</td>
        <td class="data-table-header">剩余数量</td>
        <td class="data-table-header">剩余箱数</td>
        <td class="data-table-header">创建人</td>
        <td class="data-table-header">创建日期</td>
        <td class="data-table-header">创建时间</td>
    </tr>
    @foreach (ZSL_BCS104 node in Model)
    {
        <tr>
            <td>@node.Tpm</td>
            <td>@node.Scsl</td>            
            <td>@node.Sl</td>
            <td>@node.Zbtxs</td>
            <td>@node.Cjr</td>
            <td>@node.Cjrq</td>
            <td>@node.Cjsj</td>
        </tr>
    }
</table>








