@using Sonluk.UI.Model.MM.PurchaseOrderService
@model IEnumerable<PageInfoOfPOInfo>
@{
    ViewBag.Title = "采购送货清单";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    int sn = 1;
    string revious = "";
}
@foreach (PageInfoOfPOInfo page in Model)
{

    foreach (POInfo node in page.Children)
    {
        if (!revious.Equals(node.Header.Number))
        {
            sn = 1;
            revious = node.Header.Number;
        }
        <div class="print-page print-page-A4">
            <div class="print-page-area print-page-area-A4">
                <div class="print-page-header">
                    <div class="print-page-header-company-name">@node.Header.CompanyName</div>
                    <div class="print-page-header-report-name">采购送货清单</div>
                    <table>
                        <tr>
                            <td class="print-page-header-table-title">采购订单:</td>
                            <td class="print-page-header-table-po-number">@node.Header.Number</td>
                            <td class="print-page-header-table-title">订单日期:</td>
                            <td class="print-page-header-table-content">@node.Header.Date</td>
                            <td class="print-page-header-table-check"></td>
                        </tr>
                        <tr>
                            <td class="print-page-header-table-title">供应商:</td>
                            <td class="print-page-header-table-content" colspan="3">@ViewBag.Vendor</td>
                            <td class="print-page-header-table-check"></td>
                        </tr>
                    </table>
                </div>
                <div class="print-page-body print-page-body-A4">
                    <table class="print-page-body-table">
                        <tr>
                            <td class="print-page-body-table-header">No.</td>
                            <td class="print-page-body-table-header">行</td>
                            <td class="print-page-body-table-header">物料编号</td>
                            <td class="print-page-body-table-header">物料描述</td>
                            <td class="print-page-body-table-header">送货数量</td>
                            <td class="print-page-body-table-header">单位</td>
                            <td class="print-page-body-table-header">销售订单</td>
                            <td class="print-page-body-table-header">行</td>
                            <td class="print-page-body-table-header">交货日期</td>
                            <td class="print-page-body-table-header">备注</td>
                        </tr>
                        @foreach (POItemInfo child in node.Items)
                        {
                            <tr>
                                <td>@(sn++)</td>
                                <td>@child.Number</td>
                                <td>@child.Material</td>
                                <td class="print-page-text-align-left">@child.MaterialDescription</td>
                                <td class="print-page-text-align-right">@child.DelivQty</td>
                                <td>@child.BaseUOM</td>
                                <td>@child.SDDoc</td>
                                <td>
                                    @{if (child.SDocItem != 0)
                                    {@child.SDocItem}}
                                </td>
                                <td>@child.DelivDate</td>
                                <td>@child.Remarks</td>
                            </tr>
                        }

                    </table>
                </div>
                <div class="print-page-footer">
                    <table class="print-page-footer-table">
                        <tr>
                            <td class="print-page-footer-table-title">打印:</td>
                            <td class="print-page-footer-table-content">@ViewBag.Printer</td>
                            <td class="print-page-footer-table-title">检验员:</td>
                            <td class="print-page-footer-table-content"></td>
                            <td class="print-page-footer-table-title">审核:</td>
                            <td class="print-page-footer-table-content"></td>
                            <td class="print-page-footer-table-title">仓管:</td>
                            <td class="print-page-footer-table-content"></td>
                        </tr>
                        <tr>
                            <td class="print-page-footer-table-title">日期:</td>
                            <td>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td class="print-page-footer-table-title">日期:</td>
                            <td></td>
                            <td class="print-page-footer-table-title">日期:</td>
                            <td></td>
                            <td class="print-page-footer-table-title">日期:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="print-page-footer-table-title"><b>注:</b>&nbsp;&nbsp;&nbsp;&nbsp;送货数量以实际点收数量为准</td>
                            <td class="print-page-footer-table-index">第@{@node.Header.Status}页</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>



    }


}
