@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string error = "";
    if (Session["UpdatePasswordError"] != null)
    {
        error = (string)Session["UpdatePasswordError"];
        Session["UpdatePasswordError"] = null;
    }
        
}
@Styles.Render("~/Content/access/update-password")
@Styles.Render("~/Content/sonluk-ui/panel-flow")
<div class="content-header">
    <div class="content-header-nav">
        <a href="#">设置</a>
        >
        <a href="#">修改密码</a>
    </div>
</div>
<form action="@Url.Action("UpdatePassword", "Access")" method="post" enctype="multipart/form-data" id="update-password-form">
    <div class="panel-flow">
        <table>
            <tr>
                <td class="update-password-title">现密码</td>
                <td><input type="password" class="sonluk-input-text" name="password" id="password" /></td>
                <td class="update-password-error-meaaage">@error</td>
            </tr>
            <tr>
                <td class="update-password-title">新密码</td>
                <td><input type="password" class="sonluk-input-text" name="newPassword" id="newPassword" /></td>
                <td class="update-password-error-meaaage"></td>
            </tr>
            <tr>
                <td class="update-password-title">新密码确认</td>
                <td><input type="password" class="sonluk-input-text" id="newPasswordConfirm" /></td>
                <td class="update-password-error-meaaage"></td>
            </tr>
        </table>
        <div><div class="sonluk-button submit">确认</div></div>
    </div>
</form>
@section scripts {
    @Scripts.Render("~/bundles/access/update-password")

}
