@using Sonluk.UI.Model.CRM.HG_DEPTService;
@using Sonluk.UI.Model.CRM.HG_DICTService;
@using Sonluk.UI.Model.CRM.HG_STAFFService;
@{
    ViewBag.Title = "拜访查询(按日期)";
    Session["TITLENAME"] = "拜访查询(按日期)";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    string Staffid = "";
    if (Session["STAFFID"] != null)
    {
        Staffid = Session["STAFFID"].ToString();
    }


    CRM_HG_DEPT[] DepartModel = ViewBag.Department;
    CRM_HG_STAFF[] STAFFmodel = ViewBag.STAFF;
    CRM_HG_DICT[] STAFFLX = ViewBag.STAFFLX;
    string netpath = System.Configuration.ConfigurationManager.AppSettings["NETPATH"];
}



<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>


<script type="text/html" id="status">
    {{# if(d.KQISACTIVE == 1){ }}
    是
    {{# }else if(d.KQISACTIVE == 0){ }}
    否
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="juli">
    {{ d.KQJL + "米" }}

</script>

<script type="text/html" id="imgTpl">
    <img class="mytableimg" src="{{d.ML}}" />
</script>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看图片</a>
</script>

<script type="text/html" id="picbar">
    <a class="layui-btn layui-btn-xs" lay-event="watch">放大查看</a>
</script>

<style type="text/css">
    body .layui-tree-skin-shihuang .layui-tree-branch {
        color: #EDCA50;
    }

    .downpanel .layui-select-title span {
        line-height: 38px;
    }

    /*继承父类颜色*/
    .downpanel dl dd:hover {
        background-color: inherit;
    }

    /*.laytable-cell-1-WJM, .laytable-cell-2-WJM, .laytable-cell-3-WJM, .laytable-cell-4-WJM, .laytable-cell-5-WJM, .laytable-cell-6-WJM, .laytable-cell-7-WJM, .laytable-cell-8-WJM, .laytable-cell-9-WJM, .laytable-cell-10-WJM {
        height: auto;
        max-width: 100%;
    }*/
    /*.layui-table-cell {
        height: auto;
        max-width: 100%;
    }*/
</style>



<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>拜访管理</a>
    <a><cite>拜访查询(按日期)</cite></a>
</span>
<br />
<br />

<div id="form1" class="layui-form">
    <button id="btn_cx" class="layui-btn">查询</button>
    <button id="btn_daochu" class="layui-btn">导出</button>
    <button id="btn_back" class="layui-btn" style="display:none;">返回</button>
    <button id="btn_MXback" class="layui-btn" style="display:none;">返回</button>
    <br /><br />

    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">查询条件</h2>
            <div id="div_select_tiaojian" class="layui-colla-content layui-show" style="padding-right: 0px;">


                <div class="layui-form-item">

                    <label class="layui-form-label" style="width:110px">开始日期：</label>
                    <div class="layui-input-inline">
                        <input id="date_start" type="text" autocomplete="off" class="layui-input">
                    </div>

                    <label class="layui-form-label" style="width:110px">结束日期：</label>
                    <div class="layui-input-inline">
                        <input id="date_end" type="text" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:110px">部门：</label>
                    <div class="layui-input-inline">
                        <select id="department" lay-filter="department" lay-search>
                            @for (int i = 0; i < DepartModel.Length; i++)
                            {
                                <option value="@DepartModel[i].DEPID">@DepartModel[i].DEPNAME</option>
                            }
                        </select>
                    </div>

                    <label class="layui-form-label" style="width:110px">人员姓名：</label>
                    <div class="layui-input-inline">
                        <select id="staff_name" lay-filter="staff_name" lay-search>
                            <option value="0" selected="selected">全部</option>
                            @for (int i = 0; i < STAFFmodel.Length; i++)
                            {
                                <option value="@STAFFmodel[i].STAFFID">@STAFFmodel[i].STAFFNO   @STAFFmodel[i].STAFFNAME</option>
                            }
                        </select>
                    </div>

                    <label class="layui-form-label" style="width:110px">人员类型：</label>
                    <div class="layui-input-inline">
                        <select id="staff_type" lay-filter="staff_type" lay-search>
                            <option value="0">全部</option>
                            @for (int i = 0; i < STAFFLX.Length; i++)
                            {
                                <option value="@STAFFLX[i].DICID">@STAFFLX[i].DICNAME</option>
                            }
                        </select>
                    </div>
                </div>








            </div>
        </div>
    </div>
    <hr class="layui-bg-black" />

    <div id="div_total">
        <table id="result" lay-filter="result"></table>
    </div>
    <div id="div_total2">
        <table id="result2" lay-filter="result2"></table>
    </div>
    <div id="div_mx">
        <table id="resultMX" lay-filter="resultMX"></table>
    </div>


</div>
<br /><br /><br />


<div id="dic_pic" class="layui-form" hidden>


    <br />


    <table id="pic" lay-filter="pic"></table>




</div>

<input id="netpath" hidden />
<input id="staffid" hidden />

<script src="~/Scripts/layui2.5.4/layui.all.js"></script>
<script>
    $(document).ready(function () {
        $("#staffid").val("@Staffid");
        $("#staff_type").val("578");
        $("#netpath").val("@netpath");
    });
</script>


@section scripts {
    @Scripts.Render("~/bundles/CRM/BaiFang/BaiFangReportByDate")
}


