@using Sonluk.UI.Model.MES.SY_GCService;
@{
    ViewBag.Title = "成品车间物流对账表";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";

    MES_SY_GC[] GC = ViewBag.GC;
}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="Tpl_RKZT">
    {{# if(d.RKZT == 1){ }}
    车间发出
    {{# }else if(d.RKZT == 2){ }}
    物流入库
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="Tpl_ISZC">
    {{# if(d.ISZC == 0){ }}
    否
    {{# }else { }}
    是
    {{# } }}
</script>

<script type="text/javascript" src="~/Scripts/layui2.2.5/extend/formSelects-v4.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/layui2.2.5/css/formSelects-v4.css">



<span class="layui-breadcrumb" lay-separator=">">
    <a>WMS查询报表</a>
    <a><cite>成品车间物流对账表</cite></a>
</span>


<div id="div1" class="layui-form" style="margin-left:10px">
    <div id="div_height">


        <div class="layui-form-item">

            <button id="btn_dc" class="layui-btn">导出</button>
            <button id="btn_cx" class="layui-btn">查询</button>

        </div>


        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询条件</h2>
                <div id="div_select_tiaojian" class="layui-colla-content layui-show">

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">生产工厂：</label>
                            <div class="layui-input-inline">
                                <select id="SCGC" lay-filter="SCGC" lay-search>
                                    <option value="">请选择</option>
                                    @for (int i = 0; i < GC.Length; i++)
                                    {
                                        <option value="@GC[i].GC">@GC[i].GC-@GC[i].GCMS</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">工作中心：</label>
                            <div class="layui-input-inline">
                                @*<select id="GZZX" lay-filter="GZZX" lay-search>
                                        <option value="">请选择</option>

                                    </select>*@
                                <select xm-select="GZZX" id="GZZX" xm-select-height="36px"></select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">工厂：</label>
                            <div class="layui-input-inline">
                                <select id="KCDDGC" lay-filter="KCDDGC" lay-search>
                                    <option value="">请选择</option>
                                    @for (int i = 0; i < GC.Length; i++)
                                    {
                                        <option value="@GC[i].GC">@GC[i].GC-@GC[i].GCMS</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">库存地点：</label>
                            <div class="layui-input-inline">
                                @*<select id="KCDD" lay-filter="KCDD" lay-search>
                                        <option value="">请选择</option>
                                    </select>*@
                                <select xm-select="KCDD" id="KCDD" xm-select-height="36px"></select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">物料信息：</label>
                            <div class="layui-input-inline">
                                <input id="WLXX" type="text" autocomplete="off" placeholder="物料编码/物料描述" class="layui-input">
                            </div>

                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">条码：</label>
                            <div class="layui-input-inline">
                                <input id="TM" type="text" autocomplete="off" placeholder="" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">仓位：</label>
                            <div class="layui-input-inline">
                                <input id="LGPLA" type="text" autocomplete="off" placeholder="" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">批次：</label>
                            <div class="layui-input-inline">
                                <input id="PC" type="text" autocomplete="off" placeholder="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">ERP工单：</label>
                            <div class="layui-input-inline">
                                <input id="ERPNO" type="text" autocomplete="off" placeholder="" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">


                        <div class="layui-inline">
                            <label class="layui-form-label">交货单：</label>
                            <div class="layui-input-inline">
                                <input id="JHD" type="text" autocomplete="off" placeholder="" class="layui-input">
                            </div>

                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">销售订单：</label>
                            <div class="layui-input-inline">
                                <input id="NOBILL" type="text" autocomplete="off" placeholder="" class="layui-input">
                            </div>

                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">销售项目：</label>
                            <div class="layui-input-inline">
                                <input id="NOBILLMX" type="text" autocomplete="off" placeholder="" class="layui-input">
                            </div>

                        </div>
                    </div>

                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">入库状态：</label>
                            <div class="layui-input-inline">
                                <select id="RKZT" lay-filter="RKZT" lay-search>
                                    <option value="0">请选择</option>
                                    <option value="1">车间发出</option>
                                    <option value="2">物流入库</option>
                                </select>
                            </div>
                        </div>
                        <input type="checkbox" id="in_nozero" lay-filter="in_nozero" name="" title="不显示数量为0" lay-skin="primary" checked>

                    </div>


                </div>
            </div>
        </div>




    </div>
    <table id="table_WL" lay-filter="table_WL"></table>


</div>



@*<script src="~/Scripts/layui2.5.4/layui.all.js"></script>*@



@section scripts {
    @Scripts.Render("~/bundles/WMS/BC_TM/WLDZB")
}