@{
    ViewBag.Title = "KaoQinIndex";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.js"></script>



<div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("QianDao", "KaoQin")">
                <img class="layui-nav-img" src="~/Image/kaoqin/qiandao.png" />
            </a>
            <br />
            <label class="layui-form-label-img">考勤签到</label>
        </div>
    </div>

    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("QingJia", "KaoQin")">
                <img class="layui-nav-img" src="~/Image/kaoqin/qingjia.png" />
            </a>
            <br />
            <label class="layui-form-label-img">请假申请</label>
        </div>
    </div>

    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("ChuChai", "KaoQin")">
                <img class="layui-nav-img" src="~/Image/kaoqin/chuchai.png" />
            </a>
            <br />
            <label class="layui-form-label-img">出差申请</label>
        </div>
    </div>

    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("YiChang", "KaoQin")">
                <img class="layui-nav-img" src="~/Image/kaoqin/yichang.png" />
            </a>
            <br />
            <label class="layui-form-label-img">异常考勤</label>
        </div>
    </div>

    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("BaoBiao", "KaoQin")">
                <img class="layui-nav-img" src="~/Image/kaoqin/report.png" />
            </a>
            <br />
            <label class="layui-form-label-img">考勤报表</label>
        </div>
    </div>


</div>
