@using Sonluk.UI.Model.CRM.HG_DICTService;
@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "卖场销售数据管理";

    CRM_HG_DICT[] SJLX = ViewBag.SJLX;
    CRM_HG_DICT[] XSLX = ViewBag.XSLX;

    string netpath = System.Configuration.ConfigurationManager.AppSettings["NETPATH"];

}
<div>
    <script type="text/html" id="quling_TX1">
        {{# if(d.TX1 == 0){ }}
        {{# }else { }}
        {{ d.TX1}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX1">
        {{# if(d.JX1 == 0){ }}
        {{# }else { }}
        {{ d.JX1}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ1">
        {{# if(d.HJ1 == 0){ }}
        {{# }else { }}
        {{ d.HJ1}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX2">
        {{# if(d.TX2 == 0){ }}
        {{# }else { }}
        {{ d.TX2}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX2">
        {{# if(d.JX2 == 0){ }}
        {{# }else { }}
        {{ d.JX2}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ2">
        {{# if(d.HJ2 == 0){ }}
        {{# }else { }}
        {{ d.HJ2}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX3">
        {{# if(d.TX3 == 0){ }}
        {{# }else { }}
        {{ d.TX3}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX3">
        {{# if(d.JX3 == 0){ }}
        {{# }else { }}
        {{ d.JX3}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ3">
        {{# if(d.HJ3 == 0){ }}
        {{# }else { }}
        {{ d.HJ3}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX4">
        {{# if(d.TX4 == 0){ }}
        {{# }else { }}
        {{ d.TX4}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX4">
        {{# if(d.JX4 == 0){ }}
        {{# }else { }}
        {{ d.JX4}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ4">
        {{# if(d.HJ4 == 0){ }}
        {{# }else { }}
        {{ d.HJ4}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX5">
        {{# if(d.TX5 == 0){ }}
        {{# }else { }}
        {{ d.TX5}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX5">
        {{# if(d.JX5 == 0){ }}
        {{# }else { }}
        {{ d.JX5}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ5">
        {{# if(d.HJ5 == 0){ }}
        {{# }else { }}
        {{ d.HJ5}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX6">
        {{# if(d.TX6 == 0){ }}
        {{# }else { }}
        {{ d.TX6}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX6">
        {{# if(d.JX6 == 0){ }}
        {{# }else { }}
        {{ d.JX6}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ6">
        {{# if(d.HJ6 == 0){ }}
        {{# }else { }}
        {{ d.HJ6}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX7">
        {{# if(d.TX7 == 0){ }}
        {{# }else { }}
        {{ d.TX7}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX7">
        {{# if(d.JX7 == 0){ }}
        {{# }else { }}
        {{ d.JX7}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ7">
        {{# if(d.HJ7 == 0){ }}
        {{# }else { }}
        {{ d.HJ7}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX8">
        {{# if(d.TX8 == 0){ }}
        {{# }else { }}
        {{ d.TX8}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX8">
        {{# if(d.JX8 == 0){ }}
        {{# }else { }}
        {{ d.JX8}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ8">
        {{# if(d.HJ8 == 0){ }}
        {{# }else { }}
        {{ d.HJ8}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX9">
        {{# if(d.TX9 == 0){ }}
        {{# }else { }}
        {{ d.TX9}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX9">
        {{# if(d.JX9 == 0){ }}
        {{# }else { }}
        {{ d.JX9}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ9">
        {{# if(d.HJ9 == 0){ }}
        {{# }else { }}
        {{ d.HJ9}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX10">
        {{# if(d.TX10 == 0){ }}
        {{# }else { }}
        {{ d.TX10}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX10">
        {{# if(d.JX10 == 0){ }}
        {{# }else { }}
        {{ d.JX10}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ10">
        {{# if(d.HJ10 == 0){ }}
        {{# }else { }}
        {{ d.HJ10}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX11">
        {{# if(d.TX11 == 0){ }}
        {{# }else { }}
        {{ d.TX11}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX11">
        {{# if(d.JX11 == 0){ }}
        {{# }else { }}
        {{ d.JX11}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ11">
        {{# if(d.HJ11 == 0){ }}
        {{# }else { }}
        {{ d.HJ11}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX12">
        {{# if(d.TX12 == 0){ }}
        {{# }else { }}
        {{ d.TX12}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX12">
        {{# if(d.JX12 == 0){ }}
        {{# }else { }}
        {{ d.JX12}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ12">
        {{# if(d.HJ12 == 0){ }}
        {{# }else { }}
        {{ d.HJ12}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_TX13">
        {{# if(d.TX13 == 0){ }}
        {{# }else { }}
        {{ d.TX13}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_JX13">
        {{# if(d.JX13 == 0){ }}
        {{# }else { }}
        {{ d.JX13}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_HJ13">
        {{# if(d.HJ13 == 0){ }}
        {{# }else { }}
        {{ d.HJ13}}
        {{# } }}
    </script>
</div>

<div>
    <script type="text/html" id="quling_POSHJ1">
        {{# if(d.POSHJ1 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ1}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ2">
        {{# if(d.POSHJ2 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ2}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ3">
        {{# if(d.POSHJ3 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ3}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ4">
        {{# if(d.POSHJ4 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ4}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ5">
        {{# if(d.POSHJ5 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ5}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ6">
        {{# if(d.POSHJ6 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ6}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ7">
        {{# if(d.POSHJ7 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ7}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ8">
        {{# if(d.POSHJ8 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ8}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ9">
        {{# if(d.POSHJ9 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ9}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ10">
        {{# if(d.POSHJ10 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ10}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ11">
        {{# if(d.POSHJ11 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ11}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ12">
        {{# if(d.POSHJ12 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ12}}
        {{# } }}
    </script>
    <script type="text/html" id="quling_POSHJ13">
        {{# if(d.POSHJ13 == 0){ }}
        {{# }else { }}
        {{ d.POSHJ13}}
        {{# } }}
    </script>
</div>


<div id="scrip_kp">
    <script type="text/html" id="KP_KP1">
        {{# if(d.KP1 == 0){ }}
        {{# }else { }}
        {{ d.KP1}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK1">
        {{# if(d.ZK1 == 0){ }}
        {{# }else { }}
        {{ d.ZK1}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ1">
        {{# if(d.HJ1 == 0){ }}
        {{# }else { }}
        {{ d.HJ1}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP2">
        {{# if(d.KP2 == 0){ }}
        {{# }else { }}
        {{ d.KP2}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK2">
        {{# if(d.ZK2 == 0){ }}
        {{# }else { }}
        {{ d.ZK2}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ2">
        {{# if(d.HJ2 == 0){ }}
        {{# }else { }}
        {{ d.HJ2}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP3">
        {{# if(d.KP3 == 0){ }}
        {{# }else { }}
        {{ d.KP3}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK3">
        {{# if(d.ZK3 == 0){ }}
        {{# }else { }}
        {{ d.ZK3}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ3">
        {{# if(d.HJ3 == 0){ }}
        {{# }else { }}
        {{ d.HJ3}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP4">
        {{# if(d.KP4 == 0){ }}
        {{# }else { }}
        {{ d.KP4}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK4">
        {{# if(d.ZK4 == 0){ }}
        {{# }else { }}
        {{ d.ZK4}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ4">
        {{# if(d.HJ4 == 0){ }}
        {{# }else { }}
        {{ d.HJ4}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP5">
        {{# if(d.KP5 == 0){ }}
        {{# }else { }}
        {{ d.KP5}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK5">
        {{# if(d.ZK5 == 0){ }}
        {{# }else { }}
        {{ d.ZK5}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ5">
        {{# if(d.HJ5 == 0){ }}
        {{# }else { }}
        {{ d.HJ5}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP6">
        {{# if(d.KP6 == 0){ }}
        {{# }else { }}
        {{ d.KP6}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK6">
        {{# if(d.ZK6 == 0){ }}
        {{# }else { }}
        {{ d.ZK6}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ6">
        {{# if(d.HJ6 == 0){ }}
        {{# }else { }}
        {{ d.HJ6}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP7">
        {{# if(d.KP7 == 0){ }}
        {{# }else { }}
        {{ d.KP7}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK7">
        {{# if(d.ZK7 == 0){ }}
        {{# }else { }}
        {{ d.ZK7}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ7">
        {{# if(d.HJ7 == 0){ }}
        {{# }else { }}
        {{ d.HJ7}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP8">
        {{# if(d.KP8 == 0){ }}
        {{# }else { }}
        {{ d.KP8}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK8">
        {{# if(d.ZK8 == 0){ }}
        {{# }else { }}
        {{ d.ZK8}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ8">
        {{# if(d.HJ8 == 0){ }}
        {{# }else { }}
        {{ d.HJ8}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP9">
        {{# if(d.KP9 == 0){ }}
        {{# }else { }}
        {{ d.KP9}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK9">
        {{# if(d.ZK9 == 0){ }}
        {{# }else { }}
        {{ d.ZK9}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ9">
        {{# if(d.HJ9 == 0){ }}
        {{# }else { }}
        {{ d.HJ9}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP10">
        {{# if(d.KP10 == 0){ }}
        {{# }else { }}
        {{ d.KP10}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK10">
        {{# if(d.ZK10 == 0){ }}
        {{# }else { }}
        {{ d.ZK10}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ10">
        {{# if(d.HJ10 == 0){ }}
        {{# }else { }}
        {{ d.HJ10}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP11">
        {{# if(d.KP11 == 0){ }}
        {{# }else { }}
        {{ d.KP11}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK11">
        {{# if(d.ZK11 == 0){ }}
        {{# }else { }}
        {{ d.ZK11}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ11">
        {{# if(d.HJ11 == 0){ }}
        {{# }else { }}
        {{ d.HJ11}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP12">
        {{# if(d.KP12 == 0){ }}
        {{# }else { }}
        {{ d.KP12}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK12">
        {{# if(d.ZK12 == 0){ }}
        {{# }else { }}
        {{ d.ZK12}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ12">
        {{# if(d.HJ12 == 0){ }}
        {{# }else { }}
        {{ d.HJ12}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_KP">
        {{# if(d.KP == 0){ }}
        {{# }else { }}
        {{ d.KP}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_ZK">
        {{# if(d.ZK == 0){ }}
        {{# }else { }}
        {{ d.ZK}}
        {{# } }}
    </script>
    <script type="text/html" id="KP_HJ">
        {{# if(d.HJ == 0){ }}
        {{# }else { }}
        {{ d.HJ}}
        {{# } }}
    </script>
</div>


<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>费用管理</a>
    <a><cite>卖场销售数据管理</cite></a>
</span>
<br />
<br />
<div id="from1" class="layui-form">
    <div id="div1" class="layui-form">
        <div class="layui-form-item">
            <button id="btn_cx" class="layui-btn">查询</button>
            <button id="btn_daochu" class="layui-btn">导出</button>
        </div>
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询条件</h2>
                <div id="div_select_tiaojian" class="layui-colla-content layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label">报表类型：</label>
                        <div class="layui-input-inline">
                            <select id="select_bblx" lay-filter="select_bblx" lay-search>
                                <option value="0" selected="selected"></option>
                                <option value="1">POS报表</option>
                                <option value="2">开票报表</option>
                                <option value="3">发货报表</option>
                                <option value="4">明细POS报表</option>
                                <option value="5">明细发货报表</option>
                                <option value="6">明细开票报表</option>
                                <option value="7">对比报表</option>
                            </select>
                        </div>
                    </div>
                    <div id="div_huizong" hidden>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年度：</label>
                            <div class="layui-input-inline">
                                <input id="select_kayear" type="text" autocomplete="off" class="layui-input" value="@ViewBag.startdate">
                            </div>
                            <label class="layui-form-label">类型：</label>
                            <div class="layui-input-inline">
                                <select id="select_sjlx" lay-filter="select_sjlx" lay-search>
                                    @for (int i = 0; i < SJLX.Length; i++)
                                    {
                                        if (SJLX[i].DICID == 1462)
                                        {
                                            <option value="@SJLX[i].DICID">@SJLX[i].DICNAME</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">级别：</label>
                            <div class="layui-input-inline">
                                <select id="select_gmemo" lay-filter="select_gmemo">
                                    <option value="KA分组一级">一级</option>
                                    <option value="KA分组二级" selected="selected">二级</option>
                                </select>
                            </div>
                            <label class="layui-form-label">组别名称：</label>
                            <div class="layui-input-inline">
                                <input id="select_gname_pos" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div id="div_kp" hidden>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年度：</label>
                            <div class="layui-input-inline">
                                <input id="select_kayear_kp" type="text" autocomplete="off" class="layui-input" value="@DateTime.Now.Year">
                            </div>
                            <label class="layui-form-label">数据类型：</label>
                            <div class="layui-input-inline">
                                <select id="select_sjlx_kp" lay-filter="select_sjlx_kp">
                                    @for (int i = 0; i < SJLX.Length; i++)
                                    {
                                        if (SJLX[i].DICID == 1464 || SJLX[i].DICID == 2062)
                                        {
                                            <option value="@SJLX[i].DICID">@SJLX[i].DICNAME</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item" id="div_">
                            <label class="layui-form-label">级别：</label>
                            <div class="layui-input-inline">
                                <select id="select_gmemo_kp" lay-filter="select_gmemo_kp">
                                    <option value="KA分组一级">一级</option>
                                    <option value="KA分组二级" selected="selected">二级</option>
                                </select>
                            </div>
                            <label class="layui-form-label">组别名称：</label>
                            <div class="layui-input-inline">
                                <input id="select_gname" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div id="div_fh" hidden>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年度：</label>
                            <div class="layui-input-inline">
                                <input id="select_kayear_fh" type="text" autocomplete="off" class="layui-input" value="@DateTime.Now.Year">
                            </div>
                            <label class="layui-form-label">数据类型：</label>
                            <div class="layui-input-inline">
                                <select id="select_sjlx_fh" lay-filter="select_sjlx_kp">
                                    @for (int i = 0; i < SJLX.Length; i++)
                                    {
                                        if (SJLX[i].DICID == 1463 || SJLX[i].DICID == 2061)
                                        {
                                            <option value="@SJLX[i].DICID">@SJLX[i].DICNAME</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">级别：</label>
                            <div class="layui-input-inline">
                                <select id="select_gmemo_fh" lay-filter="select_gmemo_fh">
                                    <option value="KA分组一级">一级</option>
                                    <option value="KA分组二级" selected="selected">二级</option>
                                </select>
                            </div>
                            <label class="layui-form-label">组别名称：</label>
                            <div class="layui-input-inline">
                                <input id="select_gname_fh" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div id="div_mx" hidden>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年度：</label>
                            <div class="layui-input-inline">
                                <input id="select_kayear_MX" type="text" autocomplete="off" class="layui-input" value="@DateTime.Now.Year">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">数据类型：</label>
                            <div class="layui-input-inline">
                                <select id="select_sjlx_MX" lay-filter="select_sjlx_MX">
                                    <option value="0">请选择</option>
                                    @for (int i = 0; i < SJLX.Length; i++)
                                    {
                                        if (SJLX[i].DICID == 1462)
                                        {
                                            <option value="@SJLX[i].DICID" selected="selected">@SJLX[i].DICNAME</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label class="layui-form-label">组别名称：</label>
                            <div class="layui-input-inline">
                                <input id="select_mx_pos" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div id="div_mxfh" hidden>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年度：</label>
                            <div class="layui-input-inline">
                                <input id="select_kayear_mxfh" type="text" autocomplete="off" class="layui-input" value="@DateTime.Now.Year">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">数据类型：</label>
                            <div class="layui-input-inline">
                                <select id="select_sjlx_mxfh" lay-filter="select_sjlx_mxfh">
                                    @for (int i = 0; i < SJLX.Length; i++)
                                    {
                                        if (SJLX[i].DICID == 1463 || SJLX[i].DICID == 2061)
                                        {
                                            <option value="@SJLX[i].DICID">@SJLX[i].DICNAME</option>
                                        }

                                    }
                                </select>
                            </div>
                            <label class="layui-form-label">组别名称：</label>
                            <div class="layui-input-inline">
                                <input id="select_mx_fh" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div id="div_mxkp" hidden>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年度：</label>
                            <div class="layui-input-inline">
                                <input id="select_kayear_mxkp" type="text" autocomplete="off" class="layui-input" value="@DateTime.Now.Year">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">数据类型：</label>
                            <div class="layui-input-inline">
                                <select id="select_sjlx_mxkp" lay-filter="select_sjlx_mxkp">
                                    @for (int i = 0; i < SJLX.Length; i++)
                                    {
                                        if (SJLX[i].DICID == 1464 || SJLX[i].DICID == 2062)
                                        {
                                            <option value="@SJLX[i].DICID">@SJLX[i].DICNAME</option>
                                        }

                                    }
                                </select>
                            </div>
                            <label class="layui-form-label">组别名称：</label>
                            <div class="layui-input-inline">
                                <input id="select_mx_kp" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div id="div_compare" hidden>
                        <div class="layui-form-item">
                            <label class="layui-form-label">开始年月：</label>
                            <div class="layui-input-inline">
                                <input id="select_kayear_begin" type="text" autocomplete="off" class="layui-input">@*value="@ViewBag.date"*@
                            </div>
                            <label class="layui-form-label">结束年月：</label>
                            <div class="layui-input-inline">
                                <input id="select_kayear_end" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">销售类型：</label>
                            <div class="layui-input-inline">
                                <select id="select_xslx_compare" lay-filter="select_xslx_compare">
                                    @for (int i = 0; i < XSLX.Length; i++)
                                    {
                                        <option value="@XSLX[i].DICID">@XSLX[i].DICNAME</option>
                                    }
                                </select>
                            </div>
                            @*<label class="layui-form-label">数据类型：</label>
                            <div class="layui-input-inline">
                                <select id="select_sjlx_compare" lay-filter="select_sjlx_compare">
                                    @for (int i = 0; i < SJLX.Length; i++)
                                    {
                                        <option value="@SJLX[i].DICID">@SJLX[i].DICNAME</option>
                                    }
                                </select>
                            </div>*@

                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">级别：</label>
                            <div class="layui-input-inline">
                                <select id="select_compare_jb" lay-filter="select_compare_jb">
                                    <option value="KA分组一级">一级</option>
                                    <option value="KA分组二级" selected="selected">二级</option>
                                </select>
                            </div>
                            <label class="layui-form-label">组别名称：</label>
                            <div class="layui-input-inline">
                                <input id="select_compare" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="result" lay-filter="result"></table>
    </div>
</div>

<input id="khid" hidden />
<input id="netpath" value="@netpath" hidden />
<script src="~/Scripts/layui2.4.5/layui.all.js"></script>
@section scripts {
    @Scripts.Render("~/bundles/CRM/Fee/Report_NKAXS")
}
