@using Sonluk.UI.Model.CRM.COST_KAHXDJTTService;
@using Sonluk.UI.Model.CRM.COST_ITEMService;
@using Sonluk.UI.Model.CRM.COST_FIService;
@using Sonluk.UI.Model.CRM.COST_CBZXService;
@using Sonluk.UI.Model.CRM.HG_DICTService;
@using Sonluk.UI.Model.CRM.KH_GROUPService;
@{
    ViewBag.Title = "费用核销登记编辑";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";

    string Staffid = "";
    if (Session["STAFFID"] != null)
    {
        Staffid = Session["STAFFID"].ToString();
    }

    CRM_COST_KAHXDJTT TTdata = ViewBag.TTdata;
    CRM_COST_ITEM[] ITEM = ViewBag.ITEM;
    CRM_COST_FI[] CWBH = ViewBag.CWBH;
    CRM_COST_CBZX[] CBZX = ViewBag.CBZX;
    CRM_HG_DICT[] SL = ViewBag.SL;
    CRM_HG_DICT[] FYHXXS = ViewBag.FYHXXS;
    CRM_HG_DICT[] PRINTKH = ViewBag.PRINTKH;
    CRM_KH_GROUPList[] GROUP = ViewBag.GROUP;

}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="bar_select_lka">
    <a class="layui-btn layui-btn-xs" lay-event="confirm">确认</a>
</script>

<script type="text/html" id="bar_select_link">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="confirm">确认</a>
</script>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    @*<a class="layui-btn layui-btn-xs" lay-event="img">照片</a>*@
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<script type="text/html" id="tb_fujian">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>



<script type="text/html" id="imgTpl">
    <img class="mytableimg" src="{{d.ML}}" />
</script>

<script type="text/html" id="QDWZ_Tpl">
    {{# if(d.ISQD == true){ }}
    {{ d.QDWZ }}
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="Tpl_LKAFYTTID">
    {{# if(d.COSTITEMID == 13){ }}
    {{# if(d.LKAFYTTID == 0){ }}
    常规其他费用
    {{# }else { }}
    补损费
    {{# } }}
    {{# } }}

</script>


<script type="text/html" id="tpl_mcsx">
    {{# if(d.MCSX == 1){ }}
    系统
    {{# }else if(d.MCSX == 2){ }}
    门店
    {{# }else { }}

    {{# } }}
</script>



<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>费用管理</a>
    <a><cite>费用核销登记编辑</cite></a>
</span>
<br />
<br />








<div id="div1" class="layui-form" style="margin-left:10px">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <button id="btn_save" class="layui-btn" style="display:none;">保存</button>
        </div>
    </div>


    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">客户名称：</label>
            <div class="layui-input-inline">
                <input id="khmc" type="text" autocomplete="off" class="layui-input" value="@TTdata.MC" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">客户编号：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.CRMID" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">客户SAP编号：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.SAPSN" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">合同年份：</label>
            <div class="layui-input-inline">
                <input id="htyear" type="text" autocomplete="off" class="layui-input" value="@TTdata.HTYEAR" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">费用开始时间：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.BEGINDATE" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">费用结束时间：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.ENDDATE" disabled>
            </div>
        </div>


    </div>

    <hr class="layui-bg-black" />
    <button id="btn_insert" class="layui-btn">新增登记细项</button>
    <table id="result" lay-filter="result"></table>




</div>


@*检索客户*@
<div id="div_select_kh" class="layui-form" hidden>
    <div class="layui-form-item">
        <button id="btn_cxkh" class="layui-btn">查询</button>

    </div>
    <div class="layui-inline">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:130px;">客户名称：</label>
            <div class="layui-input-inline" style="width:230px;">
                <input id="select_kh_name" type="text" autocomplete="off" class="layui-input">
            </div>

        </div>
    </div>

    <div class="layui-inline">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:130px;">SAP编号：</label>
            <div class="layui-input-inline" style="width:230px;">
                <input id="select_kh_sapsn" type="text" autocomplete="off" class="layui-input">
            </div>

        </div>
    </div>
    <table id="select_kh_result" lay-filter="select_kh_result"></table>

</div>


<div id="div_mx" class="layui-form" hidden>

    <div class="layui-form-item" id="div_mx1">
        <div class="layui-inline">
            <label class="layui-form-label">项目：</label>
            <div class="layui-input-inline">
                <select id="insert_item" lay-filter="insert_item" lay-search>
                    <option value="0" selected="selected"></option>
                    @for (int i = 0; i < ITEM.Length; i++)
                    {
                        <option value="@ITEM[i].COSTITEMID">@ITEM[i].COSTITEMMC</option>

                    }
                </select>

            </div>
        </div>
        <div id="div_tb_insert_mx">
            <table id="tb_insert_mx" lay-filter="tb_insert_mx"></table>
        </div>

    </div>


    <div id="div_mx2" hidden>
        <button id="btn_mx_back" class="layui-btn">返回</button>
        <button id="btn_mx_save" class="layui-btn">保存</button>



        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">费用项目：</label>
                <div class="layui-input-inline">
                    <input id="insert_showitem" type="text" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">财务核算项目：</label>
                <div class="layui-input-inline">
                    <select id="insert_cwhxxm" lay-filter="insert_cwhxxm" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < CWBH.Length; i++)
                        {
                            <option value="@CWBH[i].CWHSBH">@CWBH[i].CWHSBH @CWBH[i].CWHSBHDES</option>

                        }
                    </select>

                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">实际成本中心：</label>
                <div class="layui-input-inline">
                    <select id="insert_cbzx" lay-filter="insert_cbzx" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < CBZX.Length; i++)
                        {
                            <option value="@CBZX[i].CBZXBH">@CBZX[i].CBZXBH @CBZX[i].CBZXMC</option>

                        }
                    </select>

                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">费用开始时间：</label>
                <div class="layui-input-inline">
                    <input id="insert_begindate" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">费用结束时间：</label>
                <div class="layui-input-inline">
                    <input id="insert_enddate" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div id="div_mdbs" class="layui-form-item" style="display:none;">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">实际费用：</label>
                <div class="layui-input-inline">
                    <input id="insert_sjfy" type="text" autocomplete="off" class="layui-input"readonly>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">核销填报金额：</label>
                <div class="layui-input-inline">
                    <input id="insert_hxtbje" type="text" autocomplete="off" class="layui-input"readonly>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">退货率：</label>
                <div class="layui-input-inline" style="width: 535px;">
                    <input id="insert_thl" type="text" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">费用核销形式：</label>
                <div class="layui-input-inline">
                    <select id="insert_fyhxxs" lay-filter="insert_fyhxxs" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < FYHXXS.Length; i++)
                        {
                            <option value="@FYHXXS[i].DICID">@FYHXXS[i].DICNAME</option>

                        }
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">核销金额：</label>
                <div class="layui-input-inline">
                    <input id="insert_hxje" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">税率：</label>
                <div class="layui-input-inline">
                    <select id="insert_sl" lay-filter="insert_sl" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < SL.Length; i++)
                        {
                            <option value="@SL[i].DICID">@SL[i].DICNAME</option>

                        }
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">未税金额：</label>
                <div class="layui-input-inline">
                    <input id="insert_wsje" type="text" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">核销日期：</label>
                <div class="layui-input-inline">
                    <input id="insert_hxrq" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">备注：</label>
                <div class="layui-input-inline">
                    <input id="insert_beiz" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline" style="display:none;">
                <label class="layui-form-label" style="width:100px;">本次可核销金额：</label>
                <div class="layui-input-inline">
                    <input id="insert_topcost" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <input id="insert_spje" hidden />
            <input id="insert_yhxje" hidden />
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">打印当前客户：</label>
                <div class="layui-input-inline">
                    <select id="insert_printthis" lay-filter="insert_printthis" lay-search>
                        <option value="1" selected="selected">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>


            <div class="layui-inline" id="div_printkh" style="display:none;">
                <label class="layui-form-label" style="width:100px;">打印客户：</label>
                <div class="layui-input-inline">
                    <select id="insert_printkh" lay-filter="insert_printkh" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < PRINTKH.Length; i++)
                        {
                            <option value="@PRINTKH[i].DICID">@PRINTKH[i].DICNAME</option>

                        }
                    </select>
                </div>
            </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">陈列费模版：</label>
                <div class="layui-input-inline">
                    <select id="insert_displaytemp" lay-filter="insert_displaytemp" lay-search>
                        <option value="1" selected="selected">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">财务核算卖场名称：</label>
                <div class="layui-input-inline">
                    <select id="insert_gid" lay-filter="insert_gid" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < GROUP.Length; i++)
                        {
                            <option value="@GROUP[i].GID">@GROUP[i].GNAME</option>

                        }
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">财务核算卖场成本中心：</label>
                <div class="layui-input-inline">
                    <select id="insert_gidcbzx" lay-filter="insert_gidcbzx" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < CBZX.Length; i++)
                        {
                            <option value="@CBZX[i].CBZXBH">@CBZX[i].CBZXBH @CBZX[i].CBZXMC</option>

                        }
                    </select>

                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" style="width:100px;">取付款方的客户：</label>
                <div class="layui-input-inline" style="width: 535px;">
                    <input id="insert_fkfkh" type="text" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <input id="insert_fkfkhid" style="display:none;" />
        </div>
        @*<div id="div_mx2_md" hidden>
            <button id="btn_insert_md" class="layui-btn">新增门店</button>
            <table id="tb_insert_mx_md" lay-filter="tb_insert_mx_md"></table>
        </div>*@
    </div>
</div>





<div id="004p" class="layui-form" hidden>


    <br />
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <button id="btn_upload_display" class="layui-btn" lay-filter="btn_upload_display">上传照片</button>
        </div>
    </div>


    <table id="pic_display004" lay-filter="pic_display004"></table>




</div>


<input id="HXDJTTID" value="@TTdata.HXDJTTID" hidden />
<input id="HXDJMXID" hidden />
<input id="KHID" value="@TTdata.KHID" hidden />
<input id="COSTID" hidden />
<input id="KouJian" value="@ViewBag.KouJian.DICNAME" hidden />

<input id="path" hidden />

<script src="~/Scripts/layui2.2.5/layui.all.js"></script>





@section scripts {
    @Scripts.Render("~/bundles/CRM/Fee/Update_KAHXDJ")
}