@using Sonluk.UI.Model.CRM.COST_LKAFYTTService;
@using Sonluk.UI.Model.CRM.HG_DICTService;
@using Sonluk.UI.Model.CRM.COST_ITEMService;
@using Sonluk.UI.Model.CRM.COST_LKAPRODUCTService;
@{
    ViewBag.Title = "活动补损费编辑";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";

    string Staffid = "";
    if (Session["STAFFID"] != null)
    {
        Staffid = Session["STAFFID"].ToString();
    }

    CRM_COST_LKAFYTT TTdata = ViewBag.TTdata;
    CRM_HG_DICT[] CXLX = ViewBag.CXLX;
    CRM_COST_ITEM[] ITEM = ViewBag.ITEM;
    CRM_COST_LKAPRODUCT[] PRODUCT = ViewBag.PRODUCT;
}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="bar_select_lka">
    <a class="layui-btn layui-btn-xs" lay-event="confirm">确认</a>
</script>

<div id="temp">
    @*<script type="text/html" id="bar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs" lay-event="img">照片</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
        </script>*@

    <script type="text/html" id="bar2">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
    </script>

    <script type="text/html" id="bar_tool">
        <a class="layui-btn layui-btn-xs" lay-event="opinion">审批意见</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
    </script>

    <script type="text/html" id="bar_fujian">
        <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
    </script>

    <script type="text/html" id="bar_opinion">
        <a class="layui-btn layui-btn-xs" lay-event="edit">回复</a>
    </script>
</div>



<style>
    #div_mx label {
        width: 170px;
    }
</style>

<script type="text/html" id="imgTpl">
    <img class="mytableimg" src="{{d.ML}}" />
</script>

<script type="text/html" id="QDWZ_Tpl">
    {{# if(d.ISQD == true){ }}
    {{ d.QDWZ }}
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="zhuangtai">
    {{# if(d.ISACTIVE == 10){ }}
    未提交
    {{# }else if(d.ISACTIVE == 20){ }}
    审核中
    {{# }else if(d.ISACTIVE == 30){ }}
    已审核
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="baifenbi">
    {{ d.YJFB + '%' }}
</script>

<style>
    #div1 .layui-form-label {
        width: 150px;
        text-align: right;
    }
</style>



<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>费用管理</a>
    <a><cite>活动补损费编辑</cite></a>
</span>
<br />
<br />








<div id="div1" class="layui-form" style="margin-left:10px">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <button id="btn_save" class="layui-btn">保存</button>
            <button id="btn_submit" class="layui-btn" style="display:none;">提交</button>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">归属年份：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.HTYEAR" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">LKA系统名称：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.LKANAME" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">LKA系统CRMID：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.LKACRMID" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">经销商SAP编号：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.JXSSAPSN" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">经销商名称：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.JXSNAME" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">门店数量：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.MDSL" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">已审批年度金额：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.YSPNDJE" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">累计申请金额：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.LJSQJE" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">已核销年度金额：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="@TTdata.YHXNDJE" disabled>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">单位：</label>
            <div class="layui-input-inline">
                <input id="" type="text" autocomplete="off" class="layui-input" value="元" disabled>
            </div>
        </div>
    </div>

    <hr class="layui-bg-black" />

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">参加活动门店数量：</label>
            <div class="layui-input-inline">
                <input id="mdsl" type="text" autocomplete="off" class="layui-input" value="@TTdata.CJHDMDSL">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">活动开始时间：</label>
            <div class="layui-input-inline">
                <input id="hdbegin" type="text" autocomplete="off" class="layui-input" value="@TTdata.HDBEGINDATE">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">活动结束时间：</label>
            <div class="layui-input-inline">
                <input id="hdend" type="text" autocomplete="off" class="layui-input" value="@TTdata.HDENDDATE">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">客户提货开始时间：</label>
            <div class="layui-input-inline">
                <input id="thbegin" type="text" autocomplete="off" class="layui-input" value="@TTdata.KHTHBEGINDATE">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">客户提货结束时间：</label>
            <div class="layui-input-inline">
                <input id="thend" type="text" autocomplete="off" class="layui-input" value="@TTdata.KHTHENDDATE">
            </div>
        </div>
    </div>


    @*<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">单品1：</label>
                <div class="layui-input-inline">
                    <select id="dp1" lay-filter="dp1" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < PRODUCT.Length; i++)
                        {
                            if (TTdata.DP1 == PRODUCT[i].SAPCP)
                            {
                                <option value="@PRODUCT[i].SAPCP" selected="selected">@PRODUCT[i].CPMC</option>
                            }
                            else
                            {
                                <option value="@PRODUCT[i].SAPCP">@PRODUCT[i].CPMC</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">单品2：</label>
                <div class="layui-input-inline">
                    <select id="dp2" lay-filter="dp2" lay-search>
                        <option value="0" selected="selected"></option>
                        @for (int i = 0; i < PRODUCT.Length; i++)
                        {
                            if (TTdata.DP2 == PRODUCT[i].SAPCP)
                            {
                                <option value="@PRODUCT[i].SAPCP" selected="selected">@PRODUCT[i].CPMC</option>
                            }
                            else
                            {
                                <option value="@PRODUCT[i].SAPCP">@PRODUCT[i].CPMC</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">出厂价(元/卡)：</label>
                <div class="layui-input-inline">
                    <input id="ccj" type="text" autocomplete="off" class="layui-input" value="@TTdata.CCJ">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">正常供价(元/卡)：</label>
                <div class="layui-input-inline">
                    <input id="zcgj" type="text" autocomplete="off" class="layui-input" value="@TTdata.ZCGJ">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">促销供价(元/卡)：</label>
                <div class="layui-input-inline">
                    <input id="cxgj" type="text" autocomplete="off" class="layui-input" value="@TTdata.CXGJ">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">正常售价(元/卡)：</label>
                <div class="layui-input-inline">
                    <input id="zcsj" type="text" autocomplete="off" class="layui-input" value="@TTdata.ZCSJ">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">促销售价(元/卡)：</label>
                <div class="layui-input-inline">
                    <input id="cxsj" type="text" autocomplete="off" class="layui-input" value="@TTdata.CXSJ">
                </div>
            </div>
        </div>*@


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">该单品月均销售(零售)：</label>
            <div class="layui-input-inline">
                <input id="xs_month" type="text" autocomplete="off" class="layui-input" value="@TTdata.DPYJXS">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">预计活动期间销售(零售)：</label>
            <div class="layui-input-inline">
                <input id="xs_active" type="text" autocomplete="off" class="layui-input" value="@TTdata.YJHDQJXS">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">预计费比：</label>
            <div class="layui-input-inline">
                <input id="fb" type="text" autocomplete="off" class="layui-input" value="" disabled>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">活动方案和核销方式说明：</label>
            <div class="layui-input-inline" style="width:585px;">
                <input id="hdfasm" type="text" autocomplete="off" class="layui-input" value="@TTdata.HDFASM">
            </div>
        </div>
    </div>



    <hr class="layui-bg-black" />


    <div class="layui-collapse">
        @*费用明细*@
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">费用明细</h2>
            <div class="layui-colla-content layui-show">
                <button id="btn_insert" class="layui-btn">新增明细</button>
                <table id="result_mx" lay-filter="result_mx"></table>
            </div>
        </div>
    </div>

    <div class="layui-collapse">
        @*单品*@
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">单品</h2>
            <div class="layui-colla-content layui-show">
                <button id="btn_insertDP" class="layui-btn">新增单品</button>
                <table id="result_dp" lay-filter="result_dp"></table>
            </div>
        </div>
    </div>

    <div class="layui-collapse">
        @*附件*@
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">附件</h2>
            <div class="layui-colla-content">
                <button id="insert_fujian" class="layui-btn">新增</button>
                <table id="table_fujian" lay-filter="table_fujian"></table>
            </div>
        </div>
    </div>

</div>




<div id="div_mx" class="layui-form" hidden>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">促销类型：</label>
            <div class="layui-input-inline">
                <select id="fylx" lay-filter="fylx" lay-search>
                    <option value="0" selected="selected"></option>
                    @for (int i = 0; i < CXLX.Length; i++)
                    {
                        <option value="@CXLX[i].DICID">@CXLX[i].DICNAME</option>
                    }
                </select>

            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">促销费用：</label>
            <div class="layui-input-inline">
                <input id="cxfy" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>

    </div>





</div>

<div id="div_dp" class="layui-form" hidden>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">单品：</label>
            <div class="layui-input-inline">
                <select id="dp" lay-filter="dp" lay-search>
                    <option value="0" selected="selected"></option>
                    @for (int i = 0; i < PRODUCT.Length; i++)
                    {
                        <option value="@PRODUCT[i].SAPCP">@PRODUCT[i].CPMC</option>

                    }
                </select>
            </div>
        </div>

        <div id="div_jhsl" class="layui-inline" style="display:none">
            <label class="layui-form-label">进货数量：</label>
            <div class="layui-input-inline">
                <input id="jhsl" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">出厂价(元/卡)：</label>
            <div class="layui-input-inline">
                <input id="ccj" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">正常供价(元/卡)：</label>
            <div class="layui-input-inline">
                <input id="zcgj" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">促销供价(元/卡)：</label>
            <div class="layui-input-inline">
                <input id="cxgj" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">正常售价(元/卡)：</label>
            <div class="layui-input-inline">
                <input id="zcsj" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">促销售价(元/卡)：</label>
            <div class="layui-input-inline">
                <input id="cxsj" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <input id="iscxz" style="display:none" />

</div>

<div id="div_opinion" class="layui-form" hidden>


    <table id="tb_opinion" lay-filter="tb_opinion"></table>


</div>





<div id="div_opinion_edit" class="layui-form" hidden>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:100px">回复内容：</label>
            <div class="layui-input-inline" style="width:400px">
                <textarea id="div_opinion_content" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

    </div>


</div>



<input id="LKAFYTTID" value="@TTdata.LKAFYTTID" hidden />
<input id="LKAXSMXID" hidden />
<input id="khid" hidden />
<input id="jxsid" hidden />
<input id="ywyid" hidden />

<input id="path" hidden />

<script src="~/Scripts/layui2.4.5/layui.all.js"></script>





@section scripts {
    @Scripts.Render("~/bundles/CRM/Fee/Update_HaiBao_Other")
}
