@{
    ViewBag.Title = "个税报表";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    string mypw = "";
    if (Session["MYPW"] != null)
    {
        mypw = Session["MYPW"].ToString();
    }
}
<script type="text/javascript" src="~/Scripts/ztree/jquery.ztree.all.js"></script>
<script type="text/javascript" src="~/Scripts/ztree/selectTree.js"></script>
<script type="text/javascript" src="~/Scripts/layui2.2.5/extend/formSelects-v4.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/plugin/css/index.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/layui2.2.5/css/formSelects-v4.css">
<script type="text/html" id="LJYNSE_Tpl">
    {{d.FFJLGSGR+d.FFJLGSDW }}
</script>
<span class="layui-breadcrumb" lay-separator=">">
    <a>薪资福利</a>
    <a><cite>发放记录</cite></a>
    <a><cite>个税报表</cite></a>
</span>
<div class="layui-form">
    <div class="layui-form-item">
        @*<button class="layui-btn" onclick="location.href = '@Url.Action("XZGL_FFJLLIST", "XZGL")'">返回</button>*@
        <button class="layui-btn" onclick="window.close();">返回</button>
        <button class="layui-btn" id="btn_daochu">导出</button>
        <button class="layui-btn" id="btn_find">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">姓名：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_gh" autocomplete="off" class="layui-input" placeholder="（姓名/工号/证件号码）" onkeypress="if(window.event.keyCode==13) this.blur()">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">申报月份:</label>
            <div class="layui-input-inline">
                <input type="text" id="ffjl_monthks" autocomplete="off" class="layui-input" readonly="readonly" value="@DateTime.Now.ToString("yyyy-MM")">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline">
                <input type="text" id="ffjl_monthjs" autocomplete="off" class="layui-input" readonly="readonly" value="@DateTime.Now.ToString("yyyy-MM")">
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_ffljmxinfo" lay-filter="tb_ffljmxinfo"></table>
</div>
<div id="div_mypw" class="layui-form" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">密钥密码：</label>
            <div class="layui-input-inline1">
                <input type="password" id="myinfo_mypw" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</div>
<div hidden>
    <input type="text" id="bl_mypw" value="@mypw">
    <input type="text" id="bl_FFJLID" value="">
</div>
@section scripts {
    @Scripts.Render("~/bundles/HR/XZGL/XZGL_FFJL_REPORT")
}
