@using Sonluk.UI.Model.CRM.CRM_LoginService;
@{
    ViewBag.Title = "首页";
    Layout = "~/Areas/CRM/Views/Shared/_Layout_PDA.cshtml";

    CRM_JURISDICTION_GROUP[] MenuInfo = null;
    if (Session["MENUINFO"] != null)
    {
        MenuInfo = (CRM_JURISDICTION_GROUP[])Session["MENUINFO"];
    }

    string state = "";
    if(Session["state"] != null)
    {
        state = Session["state"].ToString();
    }

    string NetPath = System.Configuration.ConfigurationManager.AppSettings["NETPATH"];
}
@*<audio id="Jaudio" src="http://dev.sonluk.com.cn/API/test.mp3" autoplay="autoplay" loop="loop"> </audio>*@

<script src="~/Scripts/jquery-1.8.2.js"></script>

<div class="layui-carousel" id="banner">
    <div carousel-item>
        <div>
            <img src="~/Image/1.jpg" style="width:100%" />
        </div>
        <div>
            <img src="~/Image/2.jpg" style="width:100%" />
        </div>
        <div>
            <img src="~/Image/3.jpg" style="width:100%" />
        </div>
    </div>
</div>

@if (MenuInfo != null)
{
    for (int i = 0; i < MenuInfo.Length; i++)
    {
        <fieldset class="layui-elem-field layui-field-title">
            <legend>@MenuInfo[i].CRM_HG_RIGHTGROUP.RGROUPNAME</legend>
            <div class="layui-field-box">
                @if (MenuInfo[i].CRM_HG_RIGHTList.Length > 0)
                {
                    CRM_HG_RIGHT[] child = MenuInfo[i].CRM_HG_RIGHTList;
                    for (int j = 0; j < child.Length; j++)
                    {
                        if (string.IsNullOrEmpty(child[j].RIGHTADD) == false)
                        {
                            string[] childurl = child[j].RIGHTADD.Split(',');
                            string src = NetPath + "ico/" + child[j].IMAGELJ;
                            <div class="layui-col-xs4 layui-col-sm2 layui-col-md1" style="width:">
                                <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                                    <a href="@Url.Action(childurl[0], childurl[1], new { area = childurl[2]})">
                                        <img class="layui-nav-img" src="@src" />
                                    </a>
                                    <br />
                                    <label class="layui-form-label-img">@child[j].RIGHTNAME</label>
                                </div>
                            </div>
                        }
                    }
                }

            </div>
        </fieldset>



    }


}




        @*<div class="layui-col-xs4 layui-col-sm2 layui-col-md1" style="width:">
                <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                    <a href="@Url.Action("KeHuIndex", "KeHu", new { area = "CRM"})">
                        <img class="layui-nav-img" src="~/Image/kehu.png" />
                    </a>
                    <br />
                    <label class="layui-form-label-img">客户管理</label>
                </div>
            </div>

            <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
                <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                    <a href="@Url.Action("StaffIndex", "Staff", new { area = "CRM" })">
                        <img class="layui-nav-img" src="~/Image/yuangong.png" />
                    </a>
                    <br />
                    <label class="layui-form-label-img">员工管理</label>
                </div>
            </div>

            <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
                <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                    <a href="@Url.Action("KaoQinIndex", "KaoQin", new { area = "CRM" })">
                        <img class="layui-nav-img" src="~/Image/kaoqin.png" />
                    </a>
                    <br />
                    <label class="layui-form-label-img">考勤管理</label>
                </div>
            </div>

            <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
                <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                    <a href="@Url.Action("Index", "BaiFang", new { area = "CRM" })">
                        <img class="layui-nav-img" src="~/Image/baifang.png" />
                    </a>
                    <br />
                    <label class="layui-form-label-img">拜访管理</label>
                </div>
            </div>

            <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
                <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                    <a href="">
                        <img class="layui-nav-img" src="~/Image/huodong.png" />
                    </a>
                    <br />
                    <label class="layui-form-label-img">活动管理</label>
                </div>
            </div>

            <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
                <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                    <a href="">
                        <img class="layui-nav-img" src="~/Image/sapbaobiao.png" />
                    </a>
                    <br />
                    <label class="layui-form-label-img">销售报表</label>
                </div>
            </div>

            <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
                <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                    <a href="">
                        <img class="layui-nav-img" src="~/Image/xitong.png" />
                    </a>
                    <br />
                    <label class="layui-form-label-img">系统管理</label>
                </div>
            </div>*@


        @*<br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br />
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">拜访计划</li>
                    <li>最近拜访记录</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">内容1</div>
                    <div class="layui-tab-item">内容2</div>
                </div>
            </div>*@








        <script src="~/Scripts/layui2.2.5/layui.all.js"></script>
        <script>
            $(document).ready(function () {
                $("#history").hide();
                localStorage.setItem("place", "@state");


                //function audioAutoPlay(id) {
                //    var audio = document.getElementById(id);
                //    audio.play();
                //    document.addEventListener("WeixinJSBridgeReady", function () {
                //        audio.play();
                //    }, false);
                //    document.addEventListener('YixinJSBridgeReady', function () {
                //        audio.play();
                //    }, false);
                //}
                //audioAutoPlay('Jaudio');
            });
            layui.use(['carousel', 'element'], function () {
                var carousel = layui.carousel;
                var element = layui.element;
                //建造实例
                carousel.render({
                    elem: '#banner',
                    width: '100%', //设置容器宽度
                    height: '150px',
                    arrow: 'always', //始终显示箭头
                    //,anim: 'updown' //切换动画方式
                    indicator: 'none'
                });
            });
        </script>
