@{
    string lxrnp = System.Configuration.ConfigurationManager.AppSettings["lxr_pic"];  //联系人默认图片网络地址
    ViewBag.Title = "客户联系人";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    Session["TITLENAME"] = "客户联系人";

    string staffid = "";
    if (Session["STAFFID"] != null)
    {
        staffid = Session["STAFFID"].ToString();
    }

    string state = "";
    string appid = "";
    if (Session["state"] != null)
    {
        state = Session["state"].ToString();
        if (Session["state"] == "WX")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["AppID"];
        }
        else if (Session["state"] == "QY")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["CorpID"];
        }

    }
}

<script type="text/html" id="tb_area">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<h2 id="h1" style="margin:0 10px"></h2>
<h2 id="h2" style="margin:0 10px"></h2>


<hr class="layui-bg-black" />


<div id="div_result" style="margin:0 10px">

</div>
<br />
<hr class="layui-bg-black" />
<br />
<div id="002" hidden>
    <h2 class="layui-colla-title" id="htitle">新增客户联系人</h2>
    <br />

    <div class="layui-form-item" style="text-align: center;">

        <img id="pic_contact002" style="height:180px;" src="~/Areas/CRM/img/pic.jpg" />
    </div>
    <div class="layui-form-item">

        <label class="layui-form-label" style="width:120px">联系人：</label>
        <div class="layui-input-block">
            <input id="name002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">性别：</label>
        <div class="layui-input-block">
            <select id="sex002" lay-filter="sex002">
                <option value="0" selected="selected">请选择</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">家庭地址：</label>
        <div class="layui-input-block">
            <input id="home002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">籍贯：</label>
        <div class="layui-input-block">
            <input id="jiguan002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">民族：</label>
        <div class="layui-input-block">
            <select id="nation002" lay-filter="nation002">
                <option value="0" selected="selected">请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">职位：</label>
        <div class="layui-input-block">
            <select id="job002" lay-filter="job002">
                <option value="0" selected="selected">请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">爱好：</label>
        <div class="layui-input-block">
            <input id="hobby002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">婚姻状况：</label>
        <div class="layui-input-block">
            <select id="marry002" lay-filter="marry002">
                <option value="0" selected="selected">请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">移动电话：</label>
        <div class="layui-input-block">
            <input id="mobtel002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">固定电话：</label>
        <div class="layui-input-block">
            <input id="tel002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">传真：</label>
        <div class="layui-input-block">
            <input id="fax002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">邮箱：</label>
        <div class="layui-input-block">
            <input id="mail002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">微信号：</label>
        <div class="layui-input-block">
            <input id="weixin002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">生日：</label>
        <div class="layui-input-block">
            <input id="birthday002" type="date" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">通信地址：</label>
        <div class="layui-input-block">
            <input id="address002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">邮政编码：</label>
        <div class="layui-input-block">
            <input id="postalcode002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">性格：</label>
        <div class="layui-input-block">
            <input id="nature002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">是否主要联系人：</label>
        <div class="layui-input-block">
            <select id="major002" lay-filter="major002">
                <option value="0" selected="selected">请选择</option>
                <option value="1">是</option>
                <option value="2">否</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px">备注：</label>
        <div class="layui-input-block">
            <input id="remark002" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>

    </div>


    <div class="layui-form" style="width:100%;">
        <div class="layui-form-item" style="margin:0">
            <br />
            <button id="btn_save_contact" class="layui-btn" lay-filter="btn_save_display" style="width:49%;">保存</button>

            <button id="btn_nosave_display" class="layui-btn layui-btn-danger" lay-filter="btn_nosave_display" style="width:49%;margin: 0;" hidden>取消</button>
        </div>
    </div>
</div>

<input id="action_status" hidden value="insert" />
<input id="zibiao_id" hidden />

<input id="path" hidden />
<input id="netpath" hidden />

<input id="staffid" hidden />
<input id="state" hidden />
<input id="appid" hidden />

<input id="lat" hidden />
<input id="lon" hidden />
<input id="province" hidden />
<input id="city" hidden />
<input id="address" hidden />

<script>
    $(document).ready(function () {

        $("#netpath").val("@lxrnp");
        $("#staffid").val("@staffid");
        $("#state").val("@state");
        $("#appid").val("@appid");
    });

</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/KeHu/Contact")
}