@{
    ViewBag.Title = "联系人管理";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";



}
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="bind">绑定设备</a>

</script>
<span class="layui-breadcrumb" lay-separator>
    <a>电子文档系统管理</a>
    <a><cite>联系人管理</cite></a>

</span>
<div class="layui-form">

    <br />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">搜索条件：</label>
            <div class="layui-input-inline">
                <input type="text" id="noselect" autocomplete="off" class="layui-input" placeholder="姓名/工号" onkeypress="if(window.event.keyCode==13) this.blur()">
            </div>
        </div>
    </div>



</div>
<div class="layui-form " id="div_checkinfoTable">
    <div class="layui-form-item">
        <table id="table_rytable" lay-filter="table_rytable"></table>
    </div>
</div>

<div id="div_bindContact" class="layui-form" hidden>
    <br />
    @*<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">搜索条件：</label>
                <div class="layui-input-inline">

                </div>
            </div>
        </div>*@

    <div id="t_bindContact" class="demo-transfer" style="padding:10px 10px 10px 10px"></div>

</div>




<input id="Get_GZZX" value="@Url.Action("GET_GZZX", "MESSelect", new { area = "MES"})" type="hidden" />
<input id="GET_YGINFOURL" value="@Url.Action("GET_YGINFO", "RYGL", new { area = "HR"})" type="hidden" />
<input id="SelectContact" value="@Url.Action("SelectContact", "System")" type="hidden" />
<input id="ModifyContact" value="@Url.Action("ModifyContact", "System")" type="hidden" />

@section scripts {
    @Scripts.Render("~/bundles/EM/system/Contact_Management")
}
