@{
    ViewBag.Title = "操作规程明细维护";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
<input id="Insert_DEVICEDETAILDOC" value="@Url.Action("DEVICEDETAILDOC", "System")" type="hidden" />
<input id="Update_DEVICEDETAILDOC" value="@Url.Action("DEVICEDETAILDOC", "System")" type="hidden" />
<input id="Read_DEVICEDETAILDOC" value="@Url.Action("DEVICEDETAILDOC", "System")" type="hidden" />
<input id="Delete_DEVICEDETAILDOC" value="@Url.Action("DEVICEDETAILDOC", "System")" type="hidden" />

<div class="layui-form">
    <div class="layui-form-item">
       
        <button id="btn_cx" class="layui-btn">同步</button>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/EM/system/DEVICEGUIDEDETAIL")
}
