@using Sonluk.UI.Model.S5.CHECK_INFODETAILService;
@{
    ViewBag.Title = "Select_Order_Part";

    FIVES_CHECK_INFODETAILList[] MXdata = ViewBag.MXdata;
}


@for (int i = 0; i < MXdata.Length; i++)
{


    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <em class="weui-form-preview__value">@MXdata[i].TYPEMS</em>
        </div>
        <div class="weui-form-preview__bd">
            @*<p>
                <label class="weui-form-preview__label">检查明细描述</label>
                <span class="weui-form-preview__value">@MXdata[i].TYPEMS</span>
            </p>*@
            <p>
                <label class="weui-form-preview__label">点评</label>
                <span class="weui-form-preview__value">&nbsp;@MXdata[i].REMARK</span>
            </p>

        </div>
        @*<div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="TableLoadMX(@TTdata[i].INFOID)">查看</a>
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="Link(@Newtonsoft.Json.JsonConvert.SerializeObject(TTdata[i]))">编辑</a>
            <a class="weui-form-preview__btn weui-form-preview__btn" style="color:#E64340;" onclick="Delete_Score(@TTdata[i].INFOID)">删除</a>
        </div>*@
    </div>
    <br />
}


