@{
    Layout = "~/Views/Shared/_Layout-weui.cshtml";
    ViewBag.Title = "评分查询";
    Session["TITLENAME"] = "评分查询";

    string state = "";
    string appid = "";
    if (Session["state"] != null)
    {
        state = Session["state"].ToString();
        if (Session["state"] == "WX")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["AppID"];
        }
        else if (Session["state"] == "QY")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["CorpID"];
        }

    }


    Sonluk.UI.Model.S5.SY_DICTService.FIVES_SY_DICT[] RMODEL = ViewBag.RMODEL;
    Sonluk.UI.Model.S5.STAFF_DEPService.FIVES_STAFF_DEP[] STAFF_DEP = ViewBag.STAFF_DEP;
}

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" id="btn_scan">扫码评分</a>
    <a class="weui-btn weui-btn_primary" id="btn_cx">查询</a>
    <a class="weui-btn weui-btn_primary" id="btn_back" style="display:none;">返回</a>
</div>

<div class="weui-cells weui-cells_form" style="margin-top:0;">



    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">查询条件</h2>
            <div id="div_select_tiaojian" class="layui-colla-content" style="padding-right: 0px;">

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">评分类型：</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select id="jclx" class="weui-select">
                            <option value="0" selected="selected">全部</option>
                            @*@for (int i = 0; i < RMODEL.Length; i++)
                                {
                                    if (RMODEL[i].DICNAME == "点检")
                                    {
                                        <option value="@RMODEL[i].DICID" selected="selected">@RMODEL[i].DICNAME</option>
                                    }
                                }*@
                        </select>
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">部门：</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select id="department" class="weui-select">
                            <option value="0" selected="selected">全部</option>
                            @for (int i = 0; i < STAFF_DEP.Length; i++)
                            {
                                if (STAFF_DEP[i].DEPTID == 11)
                                {
                                    <option value="@STAFF_DEP[i].DEPTID" selected="selected">@STAFF_DEP[i].DEPTNAME</option>
                                }
                                else
                                {
                                    <option value="@STAFF_DEP[i].DEPTID">@STAFF_DEP[i].DEPTNAME</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">检查点：</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select id="checkpoint" class="weui-select">
                            <option value="0" selected="selected">全部</option>
                        </select>
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">评分时间：</label></div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <input id="time_begin" class="weui-input" type="date" placeholder="" value="@ViewBag.startdate">
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">至：</label></div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <input id="time_end" class="weui-input" type="date" placeholder="" value="@ViewBag.enddate">
                    </div>
                </div>


            </div>
        </div>
    </div>



</div>

<div id="div_result" style="margin:0 10px">

</div>

<div id="div_MXresult" style="margin:0 10px" hidden>

</div>





@*<div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <em class="weui-form-preview__value">网上下单(六安市强盛商贸有限公司 2017-07-25 22:16)</em>
        </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">发起时间</label>
                <span class="weui-form-preview__value">2018-12-06</span>
            </p>
            <p>
                <label class="weui-form-preview__label">订单类型</label>
                <span class="weui-form-preview__value">常规订单</span>
            </p>
            <p>
                <label class="weui-form-preview__label">订单状态</label>
                <span class="weui-form-preview__value">未提交</span>
            </p>

        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">查看</a>
            <a class="weui-form-preview__btn " href="javascript:">提交审核</a>
            <a class="weui-form-preview__btn weui-form-preview__btn" style="color:#E64340;">删除</a>
        </div>
    </div>*@


<input id="state" hidden />
<input id="appid" hidden />


<script>
    $(document).ready(function () {
        $("#state").val("@state");
        $("#appid").val("@appid");
    });
</script>



@section scripts {
    @Scripts.Render("~/bundles/FIVES/Score/Select_Score")
}