@{
    Layout = "~/Views/Shared/_Layout-weui.cshtml";
    Session["TITLENAME"] = "费用核销资料管理";
}

<div class="weui-btn-area">
    <button class="weui-btn weui-btn_primary" id="btn_cx">查询</button>
</div>

<div class="weui-cells weui-cells_form" style="margin-top:0;">



    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">查询条件</h2>
            <div id="div_select_tiaojian" class="layui-colla-content" style="padding-right: 0px;">

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">合同年份：</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select id="year" class="weui-select">
                            <option value="">请选择</option>
                            @for (int i = @DateTime.Now.Year - 10; i <= @DateTime.Now.Year + 10; i++)
                            {
                                if (i == DateTime.Now.Year)
                                {
                                    <option value="@i" selected="selected">@(i)年</option>
                                }
                                else
                                {
                                    <option value="@i">@(i)年</option>
                                }

                            }
                        </select>
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">客户名称：</label></div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <input id="lkaname" class="weui-input" type="text" placeholder="">
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">客户编号：</label></div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <input id="lkacrmid" class="weui-input" type="text" placeholder="">
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">客户SAP编号：</label></div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <input id="jxssapsn" class="weui-input" type="text" placeholder="">
                    </div>
                </div>



                <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label">状态：</label>
                        </div>
                        <div class="weui-cell__bd">
                            <select id="isactive" class="weui-select">
                                <option value="0">全部</option>
                                <option value="10">未提交 </option>
                                <option value="20" selected="selected">审核中</option>
                                <option value="30">已审核</option>
                            </select>
                        </div>
                    </div>




            </div>
        </div>
    </div>



</div>

<div id="div_result" style="margin:0 10px">

</div>



<input id="khid" hidden />






@section scripts {
    @Scripts.Render("~/bundles/CRM/Fee/Select_SH_KAHXZL")
}