@{
    Layout = "~/Views/Shared/_Layout-weui.cshtml";
    Session["TITLENAME"] = "KA堆头海报费";
}

<div class="weui-btn-area">
    <button class="weui-btn weui-btn_primary" id="btn_insert" style="width:50%;display: initial;margin: 0 0;">新增</button>
    <button class="weui-btn weui-btn_primary" id="btn_cx" style="width:50%;display: initial;margin: 0 0;float:right;">查询</button>
</div>

<div class="weui-cells weui-cells_form" style="margin-top:0;">



    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">查询条件</h2>
            <div id="div_select_tiaojian" class="layui-colla-content" style="padding-right: 0px;">

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">合同年份：</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select id="year_cx" class="weui-select">
                            <option value="">请选择</option>
                            @for (int i = @DateTime.Now.Year - 10; i <= @DateTime.Now.Year + 10; i++)
                            {
                                if (i == DateTime.Now.Year)
                                {
                                    <option value="@i" selected="selected">@(i)年</option>
                                }
                                else
                                {
                                    <option value="@i">@(i)年</option>
                                }

                            }
                        </select>
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">客户名称：</label></div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <input id="mc_cx" class="weui-input" type="text" placeholder="">
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">客户编号：</label></div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <input id="crmid_cx" class="weui-input" type="text" placeholder="">
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">客户SAP编号：</label></div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <input id="sapsn_cx" class="weui-input" type="text" placeholder="">
                    </div>
                </div>



                @*<div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">状态：</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select id="select_isactive" class="weui-select">
                            <option value="0" selected="selected">全部</option>
                            <option value="10">未提交 </option>
                            <option value="20">审核中 </option>
                            <option value="60">已审核</option>
                            <option value="40">被回退</option>
                        </select>
                    </div>
                </div>*@




            </div>
        </div>
    </div>



</div>

<div id="div_result" style="margin:0 10px">

</div>



<input id="khid" hidden />






@section scripts {
    @Scripts.Render("~/bundles/CRM/Fee/Select_KADT")
}