@using Sonluk.UI.Model.CRM.COST_ZZFTTService;
@{
    Layout = "~/Views/Shared/_Layout-weui.cshtml";
    ViewBag.Title = "UpdateZZF_GGWCHM";


    CRM_COST_ZZFTT data = ViewBag.data;

    string staffid = "";
    if (Session["STAFFID"] != null)
    {
        staffid = Session["STAFFID"].ToString();
    }
    string state = "";
    string appid = "";
    if (Session["state"] != null)
    {
        state = Session["state"].ToString();
        if (Session["state"] == "WX")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["AppID"];
        }
        else if (Session["state"] == "QY")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["CorpID"];
        }

    }
}


<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="@Url.Action("UpdateIndex", "Fee", new { TTID = @data.TTID })" id="back">返回</a>
</div>

<div id="div1" class="weui-cells weui-cells_form" style="margin-top:0;">


    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">客户名称：</label></div>
        <div class="weui-cell__bd weui-cell_primary">
            <input id="mendian1" class="weui-input" type="text" placeholder="" value="@data.MCNAME">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">客户编号：</label></div>
        <div class="weui-cell__bd weui-cell_primary">
            <input id="CRMID" class="weui-input" type="text" placeholder="" value="@data.CRMID">
        </div>
    </div>
</div>


<div id="div3" class="weui-cells weui-cells_form" style="margin-top:0;">

    <div id="div_IMGresult">
    </div>

</div>




<input id="staffid" value="@staffid" hidden />
<input id="state" value="@state" hidden />
<input id="appid" value="@appid" hidden />



<input id="zzf_ttid" value="@data.TTID" hidden />

@section scripts {
    @Scripts.Render("~/bundles/CRM/Fee/UpdateZZF_GGWCHM")
}


